# Data Engineering Capstone Project

## Project Summary
For this capstone project, I'm going to do the Udacity given project and data, to analysis the immigrant trend in US in 2016, using AWS EMR and Apache Spark as Data lake. The goal is to understand the statistics of foreign student and workers (F/H Visa), and check which state is most/least popular/friendly to them. And other ad-hoc queries, eg, which state has more foreigners, airports? 

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [1]:
# Do all imports and installs here
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

from pprint import pprint
import configparser
import os
from pyspark.sql import SparkSession, DataFrame
import pyspark.sql.functions as F 
from pyspark.sql.types import StructType as R, StructField as Fld, DoubleType as Dbl, StringType as Str, IntegerType as Int, DateType as Date
from collections import OrderedDict 
from datetime import datetime, timedelta

import logging
logging.basicConfig(level=logging.INFO, format='%(asctime)s %(levelname)s  [%(name)s] %(message)s')
LOG = logging.getLogger('etl')

# Step 1: Scope the Project and Gather Data

## Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>
Using the given dataset: i94 in 2016, airport-codes, GlobalLandTemperaturesByCity, us-cities-demographics, I94_SAS_Labels_Descriptions.
Peek into the dataset if we need to pull more external datasets from network, so as to answer our questions/queries.

## Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included? 
1. The 2016-I94 dataset (SAS7BDAT) is from [the US National Tourism and Trade Office website](https://travel.trade.gov/research/reports/i94/historical/2016.html).
2. World Temperature Data: This dataset came from Kaggle. You can read more about it [here](https://www.kaggle.com/berkeleyearth/climate-change-earth-surface-temperature-data).
3. U.S. City Demographic Data: This data comes from OpenSoft. You can read more about it [here](https://public.opendatasoft.com/explore/dataset/us-cities-demographics/export/).
4. Airport Code Table: This is a simple table of airport codes and corresponding cities. It comes from [here](https://datahub.io/core/airport-codes#data).

In [2]:
# Read in the data here
imm_sample = pd.read_csv('./immigration_data_sample.csv')
imm_sample.head()
imm_header = list(imm_sample.head(0))
imm_header = imm_header[1:]
pprint(imm_header)

['cicid',
 'i94yr',
 'i94mon',
 'i94cit',
 'i94res',
 'i94port',
 'arrdate',
 'i94mode',
 'i94addr',
 'depdate',
 'i94bir',
 'i94visa',
 'count',
 'dtadfile',
 'visapost',
 'occup',
 'entdepa',
 'entdepd',
 'entdepu',
 'matflag',
 'biryear',
 'dtaddto',
 'gender',
 'insnum',
 'airline',
 'admnum',
 'fltno',
 'visatype']

In [3]:
# .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0") \
# .config("spark.jars.packages", "saurfang:spark-sas7bdat:3.0.0-s_2.12") \
from pyspark.sql import SparkSession
spark = SparkSession.builder \
                    .enableHiveSupport() \
                    .config("spark.jars.packages", "saurfang:spark-sas7bdat:3.0.0-s_2.12") \
                    .getOrCreate()
# df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [4]:
#write to parquet
# df_spark.write.parquet("sas_data")
# df_spark=spark.read.parquet("sas_data")

# Step 2: Explore and Assess the Data
## Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.
* There're duplicate invalid i94cit, i94res in i94 dataset, also Jun i94 has additional columns compare to others.
* global temperature datasets is from 19th centry to 2013. So I won't use it in this project.
* some airport data is not airport, need to drop those rows.

## Cleaning Steps
Document steps necessary to clean the data

# Performing cleaning tasks here
* Checkout i94 2016 data
    * drop additional columns from Jun 2016, union all to other 11 months into dataframe, drop unused columns (eg. 'visapost', 'occup', 'entdepa')
* Checkout demographics data
    * since demographics data has race/count columns per county, so need to pivot by race, then aggregate to sum/mean columns after group by state.
* Checkout airport data
    * 
* Checkout temperature data

# get valid values of I94 fields

In [4]:
# try configparsing
config = configparser.ConfigParser()
config.read_file(open('meta_i94.cfg'))

pprint(config['I94MODE'])

<Section: I94MODE>

In [5]:
sections_dict = {}
# get sections and iterate over each
sections = config.sections()

for section in sections:
    options = config.options(section)
    temp_dict = {}
    for option in options:
        k = option.strip('\'').strip().upper()
        v = config.get(section,option).strip('\'').strip().upper()
        temp_dict[k] = v

    sections_dict[section] = temp_dict

In [6]:
# cast meta key into it's original type
meta_i94 = {}
for k, v in sections_dict.items():
    print(k)
    if k == 'I94CIT' or k == 'I94MODE' or k == 'I94VISA':
        meta_i94[k] = {int(vk):vv for vk,vv in v.items()}
    else:
        meta_i94[k] = v

I94CIT
I94PORT
I94MODE
I94VISA
I94ADDR

## i94 data

In [55]:
i94_fnames=['./data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat']

In [56]:
CustomI94Schema = R([
    Fld("cicid", Int()),
    Fld("i94yr", Int()),
    Fld("i94mon", Int()),  
    Fld("i94cit", Int()),  
    Fld("i94res", Int()),  
    Fld("i94port", Str()), 
    Fld("arrdate", Int()), 
    Fld("i94mode", Int()), 
    Fld("i94addr", Str()), 
    Fld("depdate", Int()), 
    Fld("i94bir", Int()),  
    Fld("i94visa", Int()), 
    Fld("count", Int()),
    Fld("dtadfile", Str()),
    Fld("visapost", Str()),
    Fld("occup", Str()),
    Fld("entdepa", Str()), 
    Fld("entdepd", Str()), 
    Fld("entdepu", Str()),
    Fld("matflag", Str()),  
    Fld("biryear", Int()), 
    Fld("dtaddto", Str()),
    Fld("gender", Str()),  
    Fld("insnum", Str()),  
    Fld("airline", Str()), 
    Fld("admnum", Dbl()),  
    Fld("fltno", Str()),
    Fld("visatype", Str())
])

CustomI94JunSchema = R([
    Fld("cicid", Int()),
    Fld("i94yr", Int()),
    Fld("i94mon", Int()),  
    Fld("i94cit", Int()),  
    Fld("i94res", Int()),  
    Fld("i94port", Str()), 
    Fld("arrdate", Int()), 
    Fld("i94mode", Int()), 
    Fld("i94addr", Str()), 
    Fld("depdate", Int()), 
    Fld("i94bir", Int()),  
    Fld("i94visa", Int()), 
    Fld("count", Int()),
    Fld("validres", Int()),
    Fld("delete_days", Int()),
    Fld("delete_mexl", Int()),
    Fld("delete_dup", Int()),
    Fld("delete_visa", Int()), 
    Fld("delete_recdup", Int()),
    Fld("dtadfile", Str()),
    Fld("visapost", Str()),
    Fld("occup", Str()),
    Fld("entdepa", Str()), 
    Fld("entdepd", Str()), 
    Fld("entdepu", Str()),
    Fld("matflag", Str()),  
    Fld("biryear", Int()), 
    Fld("dtaddto", Str()),
    Fld("gender", Str()),  
    Fld("insnum", Str()),  
    Fld("airline", Str()), 
    Fld("admnum", Dbl()),  
    Fld("fltno", Str()),
    Fld("visatype", Str())
])

In [58]:
# Examine i94 data
columns_to_drop = ['validres', 'delete_days', 'delete_mexl', 'delete_dup', 'delete_visa', 'delete_recdup']
df_i94s = OrderedDict() 
for f in i94_fnames:
    fname = os.path.basename(f)
    print(fname)
    if "jun" in fname: 
        d = spark.read.schema(CustomI94JunSchema).format('com.github.saurfang.sas.spark').load(f)
        d = d.drop(*columns_to_drop)
    else:
        d = spark.read.schema(CustomI94Schema).format('com.github.saurfang.sas.spark').load(f)
#     d = d.dropna(subset=["cicid", "arrdate", "i94addr"]).dropDuplicates()
    df_i94s[fname] = d
    d.printSchema()
    d.show()

i94_jan16_sub.sas7bdat
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|      admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|    7| 2016|     1|   101|   101|    BOS|  20465|      1|     MA|   null|    20|      3|    1|    null|    null| null|      T|   null|   null|   null|   1996|     D/S|     M|  null|     LH|3.46608285E8|  424|      F1|
|    8| 2016|     1|   101|   101|    BOS|  20465|      1|     MA|   null|    20|      3|    1|    null|    null| null|      T|   null|   null|   null|   1996|     D/S|     M|  null|     LH|3.46627585E8|  424|      F1|
|    9| 2016|     1|   101|   101|    BOS|  20469|      1|     CT|  20480|    17|      2|    1|    null|    null| null|      T|      N|   null|      M|   1999|07152016|     F|  null|     AF|3.81092385E8|  338|      B2|
|   10| 2016|     1|   101|   101|    BOS|  20469|      1|     CT|  20499|    45|      2|    1|    null|    null| null|      T|      N|   null|      M|   1971|07152016|     F|  null|     AF|3.81087885E8|  338|      B2|
|   11| 2016|     1|   101|   101|    BOS|  20469|      1|     CT|  20499|    12|      2|    1|    null|    null| null|      T|      N|   null|      M|   2004|07152016|     M|  null|     AF|3.81078685E8|  338|      B2|
|   12| 2016|     1|   101|   101|    BOS|  20474|      1|     MA|   null|    33|      2|    1|    null|    null| null|      T|   null|   null|   null|   1983|07202016|     M|  null|     LH|4.06155985E8|  424|      B2|
|   15| 2016|     1|   101|   101|    BOS|  20477|      1|     MA|  20524|    28|      3|    1|    null|    null| null|      T|      O|   null|      M|   1988|     D/S|     F|  null|     LH|4.17363085E8|  424|      F1|
|   17| 2016|     1|   101|   101|    BOS|  20480|      1|     MA|   null|    78|      2|    1|    null|    null| null|      T|   null|   null|   null|   1938|07262016|     M|  null|     TK|4.28558285E8|   81|      B2|
|   18| 2016|     1|   101|   101|    BOS|  20480|      1|     MA|   null|    70|      2|    1|    null|    null| null|      T|   null|   null|   null|   1946|07262016|     F|  null|     TK|4.28561085E8|   81|      B2|
|   20| 2016|     1|   101|   101|    CHI|  20473|      1|     IL|  20482|    28|      2|    1|    null|    null| null|      T|      O|   null|      M|   1988|07192016|     M|  null|     BA|4.01779785E8|  295|      B2|
|   21| 2016|     1|   101|   101|    CHI|  20478|      1|     TN|  20495|    28|      2|    1|    null|    null| null|      T|      N|   null|      M|   1988|07242016|     M|  null|     OS|4.20642985E8|   65|      B2|
|   22| 2016|     1|   101|   101|    TUC|  20476|      1|   null|   null|    62|      2|    1|    null|    null| null|      T|   null|   null|   null|   1954|07222016|     M|  null|     LH|4.12742085E8|  442|      B2|
|   23| 2016|     1|   101|   101|    TUC|  20476|      1|   null|   null|    54|      2|    1|    null|    null| null|      T|   null|   null|   null|   1962|07222016|     F|  null|     LH|4.12735785E8|  442|      B2|
|   24| 2016|     1|   101|   101|    TUC|  20476|      1|     MI|  20508|    64|      2|    1|    null|    null| null|      T|      O|   null|      M|   1952|02252016|     M|  null|     LH|4.12708185E8|  442|      B2|
|   25| 2016|     1|   101|   101|    TUC|  20476|      1|     MI|  20508|    53|      2|    1|    null|    null| null|      T|      O|   null|      M|   1963|02252016|     F|  null|     LH|4.12705485E8|  442|      B2|
|   28| 2016|     1|   101|   101|    LVG|  20481|      1|     NV|   null|    77|      2|    1|    null|    null| null|      T|   null|   null|   null|   1939|07272016|     F|  null|     DE|4.31613585E8| 2062|      B2|
|   29| 2016|     1|   101|   101|    LVG|  20481|      1|     NV|   null|    74|      2|    1|    null|    null| null|      T|   null|   null|   null|   1942|07272016|     M|  null|     DE|4.31605285E8| 2062|      B2|
|   30| 2016|     1|   101|   101|    MIA|  20459|      1|     FL|   null|    26|      3|    1|    null|    null| null|      T|   null|   null|   null|   1990|     D/S|     M|  null|     AB|3.09652985E8| 7000|      F1|
|   32| 2016|     1|   101|   101|    MIA|  20471|      1|     FL|  20501|    42|      2|    1|    null|    null| null|      T|      O|   null|      M|   1974|02182016|     M|  null|     OS|3.91844985E8|   97|      B2|
|   33| 2016|     1|   101|   101|    NEW|  20463|      1|     NJ|   null|    70|      2|    1|    null|    null| null|      T|   null|   null|   null|   1946|07092016|     M|  null|     OS|3.31349485E8|   89|      B2|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
only showing top 20 rows

i94_feb16_sub.sas7bdat
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|      admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|    2| 2016|     2|   101|   101|    ATL|  20498|      1|     MI|   null|    21|      3|    1|    null|    null| null|      T|   null|   null|   null|   1995|     D/S|     F|  null|     DL|4.91319785E8|  241|      F1|
|    5| 2016|     2|   101|   101|    CHI|  20492|      1|     IL|   null|    55|      2|    1|    null|    null| null|      T|   null|   null|   null|   1961|08072016|     F|  null|     TK|4.70581085E8|    5|      B2|
|    6| 2016|     2|   101|   101|    CHI|  20492|      1|     IL|   null|     6|      2|    1|    null|    null| null|      T|   null|   null|   null|   2010|08072016|     M|  null|     TK|4.70572885E8|    5|      B2|
|    7| 2016|     2|   101|   101|    CHI|  20500|      1|     AZ|  20527|    38|      2|    1|    null|    null| null|      T|      N|   null|      M|   1978|08152016|     F|  null|     LH|4.97400985E8|  434|      B2|
|    8| 2016|     2|   101|   101|    CHI|  20503|      1|     IL|  20518|    37|      2|    1|    null|    null| null|      T|      O|   null|      M|   1979|08182016|     M|  null|     AA|5.07772085E8|   87|      B2|
|    9| 2016|     2|   101|   101|    CHI|  20506|      1|     IL|  20520|    21|      2|    1|    null|    null| null|      T|      O|   null|      M|   1995|08212016|     M|  null|     OS|5.23079485E8|   65|      B2|
|   13| 2016|     2|   101|   101|    TUC|  20495|      1|     MI|   null|    43|      2|    1|    null|    null| null|      T|   null|   null|   null|   1973|08102016|     M|  null|     LH|4.78972185E8|  442|      B2|
|   15| 2016|     2|   101|   101|    TUC|  20501|      1|     MI|   null|    20|      2|    1|    null|    null| null|      T|   null|   null|   null|   1996|08162016|     M|  null|     DL|5.02626885E8|  137|      B2|
|   16| 2016|     2|   101|   101|    TUC|  20503|      1|   null|  20519|    42|      2|    1|    null|    null| null|      T|      O|   null|      M|   1974|08182016|     F|  null|     LH|5.09809885E8|  442|      B2|
|   17| 2016|     2|   101|   101|    TUC|  20504|      1|     MI|   null|    72|      2|    1|    null|    null| null|      T|   null|   null|   null|   1944|08192016|     F|  null|     LH|5.13194085E8|  442|      B2|
|   18| 2016|     2|   101|   101|    TUC|  20504|      1|     MI|   null|    54|      2|    1|    null|    null| null|      T|   null|   null|   null|   1962|08192016|     M|  null|     LH|5.13186885E8|  442|      B2|
|   19| 2016|     2|   101|   101|    TUC|  20504|      1|     MI|   null|    27|      2|    1|    null|    null| null|      T|   null|   null|   null|   1989|08192016|     M|  null|     LH|5.13195085E8|  442|      B2|
|   20| 2016|     2|   101|   101|    LOS|  20495|      1|     FL|   null|    23|      2|    1|    null|    null| null|      T|   null|   null|   null|   1993|08102016|     M|  null|     QF|4.77186585E8|   93|      B2|
|   23| 2016|     2|   101|   101|    NEW|  20495|      1|     NY|   null|    34|      1|    1|    null|    null| null|      T|   null|   null|   null|   1982|08102016|     M|  null|     LH|4.79654185E8|  412|      B1|
|   24| 2016|     2|   101|   101|    NEW|  20503|      1|     NJ|  20513|    23|      2|    1|    null|    null| null|      T|      O|   null|      M|   1993|08182016|     M|  null|     OS|5.07867385E8|   89|      B2|
|   26| 2016|     2|   101|   101|    NYC|  20491|      1|     NY|   null|    77|      2|    1|    null|    null| null|      T|   null|   null|   null|   1939|08062016|     M|  null|     OS|4.64868385E8|   87|      B2|
|   29| 2016|     2|   101|   101|    NYC|  20497|      1|     NY|  20507|    51|      1|    1|    null|    null| null|      T|      O|   null|      M|   1965|08122016|     M|  null|     TK|4.85192785E8|    3|      B1|
|   32| 2016|     2|   101|   101|    NYC|  20506|      1|     NY|  20534|    27|      2|    1|    null|    null| null|      T|      N|   null|      M|   1989|08212016|     F|  null|     AZ|5.23095085E8|  610|      B2|
|   33| 2016|     2|   101|   101|    NYC|  20506|      1|     NY|  20535|    36|      2|    1|    null|    null| null|      T|      O|   null|      M|   1980|08212016|     F|  null|     AZ|5.23058385E8|  610|      B2|
|   36| 2016|     2|   101|   101|    TAM|  20490|      1|     FL|  20590|    55|      2|    1|    null|    null| null|      T|      O|   null|      M|   1961|08052016|     F|  null|     LH|4.62174285E8|  482|      B2|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
only showing top 20 rows

i94_mar16_sub.sas7bdat
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    2| 2016|     3|   213|   213|    XXX|  20543|   null|   null|   null|    64|      2|    1|    null|    null| null|      T|   null|      U|   null|   1952|09292016|  null|  null|   null| 1.140199685E9| null|      B2|
|    3| 2016|     3|   245|   245|    XXX|  20524|   null|   null|   null|    60|      2|    1|    null|    null| null|      T|   null|      U|   null|   1956|09102016|  null|  null|   null| 1.697294685E9| null|      B2|
|    7| 2016|     3|   260|   260|    SFR|  20514|      1|     CA|  20640|    28|      2|    1|20150912|     MNL| null|      G|      O|      U|      M|   1988|08312016|     F|  null|     PR|7.391006613E10|00104|      B2|
|    9| 2016|     3|   691|   691|    FTL|  20533|      1|     FL|   null|    82|      3|    1|20160114|     BGT| null|      G|   null|   null|   null|   1934|     D/S|     M|  null|    *GA|8.539318803E10|N900J|      F1|
|   11| 2016|     3|   258|   258|    XXX|  20514|      1|     NY|  20533|    36|      1|    1|20160229|     PRS| null|      G|      O|      U|      M|   1980|08282016|     M|  null|     AA|8.937569953E10|   45|      B1|
|   12| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20598|    37|      1|    1|20160301|    null| null|      O|      I|   null|      M|   1979|08312016|  null|  null|     TK|8.944787503E10|00003|      B1|
|   14| 2016|     3|   101|   101|    MIA|  20514|      1|     FL|  20544|    29|      2|    1|20160301|     FLR| null|      G|      O|   null|      M|   1987|08312016|     M|  null|     LH|8.946287093E10|00462|      B2|
|   15| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20524|    23|      2|    1|20160301|     LND| null|      G|      O|   null|      M|   1993|08312016|     M|  null|     VS|8.948221803E10|00009|      B2|
|   17| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|   null|    26|      2|    1|20160301|     TIA| null|      G|   null|   null|   null|   1990|08312016|     M|  null|     TK|8.948743103E10|00011|      B2|
|   18| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20525|    53|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1963|08312016|     M|  null|     TK|8.944831413E10|00003|      B2|
|   20| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20525|    22|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1994|08312016|     M|  null|     AZ|8.946066533E10|00608|      B2|
|   21| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20635|    73|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1943|08312016|     F|  null|     AZ|8.948164883E10|00610|      B2|
|   22| 2016|     3|   101|   101|    LOS|  20514|      1|     CA|  20586|    18|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1998|08312016|     M|  null|     TK|8.948161763E10|00009|      B2|
|   23| 2016|     3|   101|   101|    CHI|  20514|      1|     KS|  20562|    36|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1980|08312016|     F|  null|     LH|8.948435393E10|00434|      B2|
|   24| 2016|     3|   101|   101|    CHI|  20514|      1|     KS|  20562|    31|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1985|08312016|     F|  null|     LH|8.948448403E10|00434|      B2|
|   25| 2016|     3|   101|   101|    SEA|  20514|      1|     WA|   null|    21|      3|    1|20160301|     TIA| null|      G|   null|   null|   null|   1995|     D/S|     F|  null|     BA|8.948039013E10|00049|      F1|
|   26| 2016|     3|   101|   101|    SEA|  20514|      1|     WA|   null|    19|      3|    1|20160301|     TIA| null|      G|   null|   null|   null|   1997|     D/S|     M|  null|     BA|8.948034253E10|00049|      F1|
|   28| 2016|     3|   101|   117|    ATL|  20514|      1|     NY|  20516|    35|      2|    1|20160301|     FLR| null|      H|      O|   null|      M|   1981|08152016|     M|  null|     EV|8.830011213E10|05318|      B2|
|   29| 2016|     3|   101|   117|    ATL|  20514|      1|     NY|  20516|    34|      2|    1|20160301|     FLR| null|      H|      O|   null|      M|   1982|08152016|     F|  null|     EV|8.830010853E10|05318|      B2|
|   30| 2016|     3|   101|   117|    ATL|  20514|      1|     NY|  20516|    30|      2|    1|20160301|     FLR| null|      H|      O|   null|      M|   1986|08152016|     F|  null|     EV|8.830011403E10|05318|      B2|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

i94_apr16_sub.sas7bdat
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)

In [59]:
# sample 1% of each month of i94, since origin size of sas is around 500MB.
sample_rate = 0.01
df_i94s_sample = {}
for k, v in df_i94s.items():
    df_i94s_sample[k] = v.sample(sample_rate)
    
from functools import reduce
print(len(df_i94s_sample.values()))
df_i94s_sample_unionall = reduce(DataFrame.unionAll, df_i94s_sample.values())

df_i94s_sample_unionall.printSchema()

12
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [60]:
# df_i94s_sample_unionall.write.mode('overwrite').parquet(path='i94_sample.parquet')

In [61]:
%%time
df_sas = spark.read.parquet('sas_data/')
df_sas.count()

CPU times: user 3.32 ms, sys: 0 ns, total: 3.32 ms
Wall time: 439 ms

3096313

In [62]:
%%time
# df_imm = spark.read.parquet('i94_sample.parquet/')
df_imm = df_i94s_sample_unionall.dropna(subset=["cicid", "arrdate", "i94addr"]).dropDuplicates()
df_imm = df_imm.filter( df_imm.i94cit.isin(list(meta_i94['I94CIT'].keys())) )
df_imm = df_imm.filter( df_imm.i94res.isin(list(meta_i94['I94CIT'].keys())) )
# extract valid i94 data
drop_columns = ['i94mode', 'i94bir', 'count', 'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu', 'matflag', 'dtaddto', 'insnum', 'admnum', 'fltno']
df_imm = df_imm.drop(*drop_columns)
df_imm.printSchema()
df_imm.show()
# print(df_imm.coun())

root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- visatype: string (nullable = true)

+-------+-----+------+------+------+-------+-------+-------+-------+-------+-------+------+-------+--------+
|  cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94addr|depdate|i94visa|biryear|gender|airline|visatype|
+-------+-----+------+------+------+-------+-------+-------+-------+-------+-------+------+-------+--------+
|   5364| 2016|     1|   113|   113|    NEW|  20468|     PA|  20544|      2|   1964|     M|     LH|      WT|
|  10569| 2016|     1|   126|   126|    LOS|  20460|     WA|   null|      3|   1995|     M|     CX|      F1|
|  52127| 2016|     1|   245|   245|    SFR|  20457|     CO|   null|      3|   2000|     F|     CZ|      F1|
|  98895| 2016|     1|   519|   519|    CHR|  20475|     VQ|   null|      2|   1985|     F|     DQ|      B2|
| 143163| 2016|     1|   691|   691|    ORL|  20456|     FL|  20470|      2|   1963|     M|     B6|      B2|
| 174932| 2016|     1|   135|   135|    TAM|  20454|     FL|  20543|      2|   1943|  null|     BA|      WT|
| 177852| 2016|     1|   140|   140|    TAM|  20454|     FL|  20468|      2|   1996|     F|     WK|      WT|
| 189113| 2016|     1|   209|   209|    NYC|  20454|     NY|  20456|      2|   1987|     M|     NH|      WT|
| 212411| 2016|     1|   266|   266|    DAL|  20454|     MA|  20460|      2|   1972|     F|     JL|      B2|
| 392652| 2016|     1|   438|   438|    ORL|  20455|     FL|  20463|      2|   1986|     F|     RV|      WT|
| 452701| 2016|     1|   582|   582|    FTL|  20455|     FL|  20464|      2|   1962|     M|     Y4|      B2|
| 555061| 2016|     1|   209|   209|    HHW|  20456|     HI|  20461|      2|   2001|     M|     JL|      WT|
| 591169| 2016|     1|   438|   438|    NEW|  20456|     NY|  20461|      2|   2013|     M|     AC|      WT|
| 714755| 2016|     1|   113|   113|    CHI|  20457|     WI|   null|      1|   1966|     M|     UA|      E1|
| 888225| 2016|     1|   687|   687|    MIA|  20457|     FL|  20459|      1|   1972|     M|     AA|      B1|
| 892694| 2016|     1|   689|   689|    MIA|  20457|     FL|  20467|      2|   1952|     F|     AA|      B2|
| 957357| 2016|     1|   245|   245|    CHI|  20458|     MO|   null|      3|   1997|     M|     UA|      F1|
| 970141| 2016|     1|   268|   268|    LOS|  20458|     NV|  20462|      1|   1964|     M|     BR|      WB|
|1153305| 2016|     1|   261|   261|    CIN|  20459|     OH|  20475|      2|   2003|     M|     DL|      B2|
|1216544| 2016|     1|   582|   582|    NEW|  20459|     NJ|  20462|      1|   1949|     M|     UA|      B1|
+-------+-----+------+------+------+-------+-------+-------+-------+-------+-------+------+-------+--------+
only showing top 20 rows

CPU times: user 207 ms, sys: 51.7 ms, total: 259 ms
Wall time: 4min 38s

In [63]:
# write valid i94 into parquet for Spark
df_imm.write.partitionBy("i94mon", "i94addr").mode('overwrite').parquet(path='i94_valid.parquet')
# df_imm.write.mode('overwrite').parquet(path='i94_valid.parquet')

In [64]:
# examine i94_valid
df_imm = spark.read.parquet('i94_valid.parquet/')
df_imm.createOrReplaceTempView("imm")
imm_table = spark.sql("""
select distinct i94mon, COUNT(*)
FROM imm
GROUP BY 1
ORDER BY 1 asc
""")
imm_table.printSchema()
imm_table.show()
LOG.info(f"total 1% sample parquet rows: {imm_table.count()}")

root
 |-- i94mon: integer (nullable = true)
 |-- count(1): long (nullable = false)

+------+--------+
|i94mon|count(1)|
+------+--------+
|     1|   22896|
|     2|   20691|
|     3|   26046|
|     4|   25957|
|     5|   28551|
|     6|   29919|
|     7|   36362|
|     8|   35194|
|     9|   31308|
|    10|   30747|
|    11|   24475|
|    12|   29461|
+------+--------+

2020-09-30 23:18:01,289 INFO  [etl] total 1% sample parquet rows: 12

In [65]:
test = spark.sql("""
select cicid, count(*)
from imm
group by 1
having count(cicid) > 1
order by 2
""")
test.printSchema()
test.show()
test.count()

root
 |-- cicid: integer (nullable = true)
 |-- count(1): long (nullable = false)

+-------+--------+
|  cicid|count(1)|
+-------+--------+
| 582510|       2|
|1545686|       2|
|4489884|       2|
|2811218|       2|
| 227408|       2|
|3536367|       2|
|  79361|       2|
|5060206|       2|
|1833539|       2|
|2222510|       2|
|3297293|       2|
|1415143|       2|
|2704853|       2|
|2938828|       2|
| 469028|       2|
|5438141|       2|
| 998072|       2|
|4962308|       2|
|2311725|       2|
| 171142|       2|
+-------+--------+
only showing top 20 rows

7580

## demographics data

In [50]:
custom_demo_schema = R([
    Fld("City", Str()),
    Fld("State", Str()),
    Fld("Median_Age", Dbl()),  
    Fld("Male_Population", Int()),
    Fld("Female_Population", Int()),
    Fld("Total_Population", Int()),
    Fld("Number_Veterans", Int()),
    Fld("Foregin_born", Int()),
    Fld("Average_Household", Dbl()),
    Fld("State_Code", Str()),
    Fld("Race", Str()),
    Fld("Count", Int()),
])

df_degh = spark.read.schema(custom_demo_schema).options(header='True',sep=';').csv('./us-cities-demographics.csv')
df_degh.printSchema()
df_degh.show(5)

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: integer (nullable = true)
 |-- Female_Population: integer (nullable = true)
 |-- Total_Population: integer (nullable = true)
 |-- Number_Veterans: integer (nullable = true)
 |-- Foregin_born: integer (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: integer (nullable = true)

+----------------+-------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+-----+
|            City|        State|Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born|Average_Household|State_Code|                Race|Count|
+----------------+-------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+-----+
|   Silver Spring|     Maryland|      33.8|          40601|            41862|           82463|           1562|       30908|              2.6|        MD|  Hispanic or Latino|25924|
|          Quincy|Massachusetts|      41.0|          44129|            49500|           93629|           4147|       32935|             2.39|        MA|               White|58723|
|          Hoover|      Alabama|      38.5|          38040|            46799|           84839|           4819|        8229|             2.58|        AL|               Asian| 4759|
|Rancho Cucamonga|   California|      34.5|          88127|            87105|          175232|           5821|       33878|             3.18|        CA|Black or African-...|24437|
|          Newark|   New Jersey|      34.6|         138040|           143873|          281913|           5829|       86253|             2.73|        NJ|               White|76402|
+----------------+-------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+-----+
only showing top 5 rows

## Checkout airport data

In [192]:
clean_columns = ['ident', 'continent', 'municipality', 'gps_code', 'local_code', 'coord', 'coordinates', 'elevation_ft', 'iso_country']
df_air = spark.read.options(header='True',inferSchema='True').csv('./airport-codes_csv.csv')
df_air = df_air.filter(df_air.iso_country == 'US') \
                .filter(df_air.type.isin(list(["small_airport", "medium_airport", "large_airport"])))
df_air = df_air.dropna(subset=["iata_code"])
df_air = df_air.withColumn("coord", F.split(df_air.coordinates, ",") ) \
                .withColumn("latitude", F.col('coord')[0]) \
                .withColumn("longitude", F.col('coord')[1]) 
df_air = df_air.drop(*clean_columns)

df_air.printSchema()
df_air.show(5)
df_air.count()

root
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

+-------------+--------------------+----------+---------+------------------+-------------------+
|         type|                name|iso_region|iata_code|          latitude|          longitude|
+-------------+--------------------+----------+---------+------------------+-------------------+
|small_airport|Ocean Reef Club A...|     US-FL|      OCA|  -80.274803161621|    25.325399398804|
|small_airport|Pilot Station Air...|     US-AK|      PQS|       -162.899994|          61.934601|
|small_airport|Crested Butte Air...|     US-CO|      CSE|       -106.928341|          38.851918|
|small_airport|   LBJ Ranch Airport|     US-TX|      JCY|-98.62249755859999| 30.251800537100003|
|small_airport|Metropolitan Airport|     US-MA|      PMX|-72.31140136719999| 42.223300933800004|
+-------------+--------------------+----------+---------+------------------+-------------------+
only showing top 5 rows

1865

In [193]:
df_air.write.mode('overwrite').parquet(path='df_airport.parquet')

## Checkout temperature data

In [236]:
df_tmpt = spark.read.options(header='True', inferSchema='True').csv('./GlobalLandTemperaturesByCity.csv')
df_tmpt = df_tmpt.filter(df_tmpt.Country == "United States")
df_tmpt.printSchema()
df_tmpt.show(5)

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

+----------+------------------+-----------------------------+-------+-------------+--------+---------+
|        dt|AverageTemperature|AverageTemperatureUncertainty|   City|      Country|Latitude|Longitude|
+----------+------------------+-----------------------------+-------+-------------+--------+---------+
|1820-01-01|2.1010000000000004|                        3.217|Abilene|United States|  32.95N|  100.53W|
|1820-02-01|             6.926|                        2.853|Abilene|United States|  32.95N|  100.53W|
|1820-03-01|            10.767|                        2.395|Abilene|United States|  32.95N|  100.53W|
|1820-04-01|17.988999999999994|                        2.202|Abilene|United States|  32.95N|  100.53W|
|1820-05-01|            21.809|                        2.036|Abilene|United States|  32.95N|  100.53W|
+----------+------------------+-----------------------------+-------+-------------+--------+---------+
only showing top 5 rows

In [237]:
df_tmpt.write.mode('overwrite').parquet(path='temperature_us.parquet')

In [258]:
df_temper = spark.read.parquet('./temperature_us.parquet/')
df_temper = df_temper.withColumn("datetime", F.col("dt").cast("date")).drop("dt")
df_temper = df_temper.filter( df_temper["datetime"] >= F.lit('2016-01-01') )
df_temper.printSchema()
df_temper.show()

root
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- datetime: date (nullable = true)

+------------------+-----------------------------+----+-------+--------+---------+--------+
|AverageTemperature|AverageTemperatureUncertainty|City|Country|Latitude|Longitude|datetime|
+------------------+-----------------------------+----+-------+--------+---------+--------+
+------------------+-----------------------------+----+-------+--------+---------+--------+

# Step 3: Define the Data Model
## 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model
### dimension table:
1. df_i94visa: visa_id (PK), visa_type.
2. df_i94port: port_id (PK), city, state.
3. df_air: type, name, iso_region, iata_code (PK), latitude, longitude.
4. df_i94cit: citres_id (PK), citres.
5. df_i94addr: addr_id (PK), state.
6. df_demo: State_Code(PK), Median_Age, Male_Population, Female_Population, Total_Population, Number_Veterans, Foregin_born, Average_Household, American_Indian_Alaska_Native, Asian, Black_African_American, Hispanic_Latino, White

#### fact table
* df_fact: fact_id (PK), cicid, visatype, i94port (FK), state, name, i94cit (FK), i94addr (FK), total_Population, foregin_born, American_Indian_Alaska_Native, Asian, Black_African_American, Hispanic_Latino, White

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model
![](star.png)

## Extract i94 table from dataframe

In [67]:
%%time
df_i94 = spark.read.parquet('i94_valid.parquet/')
# df_i94 = df_i94.filter( df_i94.i94cit.isin(set(meta_i94['I94CIT'].keys())) )
# df_i94 = df_i94.filter( df_i94.i94res.isin(set(meta_i94['I94CIT'].keys())) )
df_i94.printSchema()
df_i94.show()

root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- visatype: string (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94addr: string (nullable = true)

+-------+-----+------+------+-------+-------+-------+-------+-------+------+-------+--------+------+-------+
|  cicid|i94yr|i94cit|i94res|i94port|arrdate|depdate|i94visa|biryear|gender|airline|visatype|i94mon|i94addr|
+-------+-----+------+------+-------+-------+-------+-------+-------+------+-------+--------+------+-------+
| 113995| 2016|   691|   691|    MIA|  20789|  20797|      2|   1981|     M|     AV|      B2|    12|     FL|
| 133055| 2016|   689|   689|    MIA|  20789|   null|      2|   1975|     M|     AA|      B2|    12|     FL|
| 183803| 2016|   687|   687|    MIA|  20789|  20791|      2|   1969|     F|     AA|      B2|    12|     FL|
| 261301| 2016|   129|   129|    MIA|  20790|  20798|      2|   1978|     F|     AA|      WT|    12|     FL|
| 310182| 2016|   584|   584|    MIA|  20790|  20824|      2|   1948|     F|     AA|      B2|    12|     FL|
| 572346| 2016|   104|   104|    MIA|  20791|  20792|      2|   1958|     M|     LH|      WT|    12|     FL|
| 950063| 2016|   691|   691|    MIA|  20793|  20806|      2|   1970|     F|     AA|      B2|    12|     FL|
|1129870| 2016|   687|   687|    MIA|  20794|  20802|      2|   1962|     M|     AR|      B2|    12|     FL|
|1136214| 2016|   687|   687|    MIA|  20794|  20805|      2|   1974|     F|     AA|      B2|    12|     FL|
|1549068| 2016|   582|   582|    MIA|  20796|  20800|      2|   1986|     F|     4O|      B2|    12|     FL|
|1858354| 2016|   687|   687|    MIA|  20798|  20821|      2|   1979|     F|     4M|      B2|    12|     FL|
|1918409| 2016|   245|   245|    ORL|  20798|  20804|      2|   1954|     F|     WS|      B2|    12|     FL|
|2032964| 2016|   135|   135|    NEW|  20799|  20821|      2|   2012|     F|     UA|      WT|    12|     FL|
|2081410| 2016|   213|   213|    NYC|  20799|  20851|      2|   1955|     M|     EY|      B2|    12|     FL|
|2100738| 2016|   528|   528|    MIA|  20799|  20840|      2|   1994|     F|     AA|      B2|    12|     FL|
|2126190| 2016|   129|   129|    MIA|  20799|  20803|      1|   1975|     M|     AA|      WB|    12|     FL|
|2327678| 2016|   691|   691|    MIA|  20800|  20815|      2|   1996|     M|     AV|      B2|    12|     FL|
|2489132| 2016|   131|   131|    MIA|  20801|  20802|      2|   1987|     F|     AA|      WT|    12|     FL|
|2616792| 2016|   689|   689|    MIA|  20802|  20817|      2|   1972|     M|     AA|      B2|    12|     FL|
|2723261| 2016|   575|   575|    MIA|  20802|  20805|      1|   1969|     M|     AA|      B1|    12|     FL|
+-------+-----+------+------+-------+-------+-------+-------+-------+------+-------+--------+------+-------+
only showing top 20 rows

CPU times: user 6.38 ms, sys: 497 µs, total: 6.87 ms
Wall time: 6.52 s

# Create i94 staging table

In [68]:
df_i94.createOrReplaceTempView("i94")
i94_stage = spark.sql("""
SELECT 
    distinct cicid as cid,
    i94yr,
    i94mon,
    EXTRACT(DAY FROM date_add('1960-01-01',arrdate) ) as i94day,
    i94cit,
    i94res,
    i94port,
    i94addr,
    i94visa,
    biryear,
    gender,
    airline,
    visatype,
    date_add('1960-01-01',arrdate) as arrdate,
    date_add('1960-01-01',depdate) as depdate
FROM i94
order by i94cit asc
""")
i94_stage.printSchema()
i94_stage.show()

root
 |-- cid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94day: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- visatype: string (nullable = true)
 |-- arrdate: date (nullable = true)
 |-- depdate: date (nullable = true)

+-------+-----+------+------+------+------+-------+-------+-------+-------+------+-------+--------+----------+----------+
|    cid|i94yr|i94mon|i94day|i94cit|i94res|i94port|i94addr|i94visa|biryear|gender|airline|visatype|   arrdate|   depdate|
+-------+-----+------+------+------+------+-------+-------+-------+-------+------+-------+--------+----------+----------+
|1659514| 2016|     7|     8|   101|   101|    NEW|     NJ|      2|   1931|     F|     UA|      B2|2016-07-08|2016-10-05|
| 304799| 2016|    12|     2|   101|   101|    CHI|     IL|      2|   1937|     M|     OS|      B2|2016-12-02|2017-02-02|
|2039127| 2016|     6|    11|   101|   101|    NEW|     NJ|      2|   1957|     M|     OS|      B2|2016-06-11|2016-07-25|
|1003655| 2016|     5|     6|   101|   101|    NYC|     NY|      2|   1964|  null|     TK|      B2|2016-05-06|2016-05-07|
|4356013| 2016|     2|    25|   101|   101|    NYC|     NY|      2|   1954|     M|     TK|      B2|2016-02-25|2016-05-20|
|1784547| 2016|    11|    10|   101|   101|    NYC|     NY|      1|   1962|  null|     TK|      B1|2016-11-10|2016-11-11|
|4398724| 2016|    11|    23|   101|   101|    NEW|     WA|      2|   2009|     M|     OS|      B2|2016-11-23|2016-12-03|
|6755925| 2016|    12|    29|   101|   101|    CHI|     MI|      2|   1979|     M|     TK|      B2|2016-12-29|2017-01-27|
|4250371| 2016|     4|    23|   101|   101|    NYC|     CT|      2|   1964|  null|     AZ|      B2|2016-04-23|2016-05-10|
|2039105| 2016|     6|    11|   101|   101|    TAM|     FL|      2|   1971|  null|     BA|      B2|2016-06-11|2016-09-13|
|1168207| 2016|    10|     6|   101|   101|    NYC|     NY|      2|   1983|  null|     DL|      B2|2016-10-06|2016-10-12|
|5405840| 2016|    11|    28|   101|   101|    NYC|     NY|      2|   1961|     F|     AZ|      B2|2016-11-28|2017-02-04|
|2667823| 2016|     6|    14|   101|   101|    WAS|     FL|      2|   1968|     M|     OS|      B2|2016-06-14|2016-07-03|
|5852487| 2016|     8|    25|   101|   101|    NYC|     NY|      3|   1995|     M|     JU|      F1|2016-08-25|      null|
|6273342| 2016|     3|    31|   101|   118|    MIA|     VA|      2|   1948|     M|     AA|      B2|2016-03-31|2016-04-03|
|1422655| 2016|     6|     8|   101|   101|    NYC|     CT|      2|   2014|  null|     KL|      B2|2016-06-08|2016-06-22|
|3700564| 2016|     6|    19|   101|   101|    NYC|     CT|      2|   1983|     F|     AZ|      B2|2016-06-19|2016-07-03|
|4273227| 2016|     1|    23|   101|   101|    BOS|     MA|      3|   1994|     F|     TK|      F1|2016-01-23|2016-03-09|
|3747112| 2016|    12|    18|   101|   101|    NEW|     NJ|      2|   1969|     M|     OS|      B2|2016-12-18|2017-01-04|
|4273226| 2016|     1|    23|   101|   101|    BOS|     MA|      3|   1996|     M|     TK|      F1|2016-01-23|      null|
+-------+-----+------+------+------+------+-------+-------+-------+-------+------+-------+--------+----------+----------+
only showing top 20 rows

# Create airport dim table

In [21]:
meta_i94.keys()

dict_keys(['I94CIT', 'I94PORT', 'I94MODE', 'I94VISA', 'I94ADDR'])

In [23]:
i94port = meta_i94['I94PORT']
pddf = pd.DataFrame(i94port.items(), columns=["id", "airport"])
df_i94port = spark.createDataFrame(pddf)
df_i94port.printSchema()
df_i94port.show()

root
 |-- id: string (nullable = true)
 |-- airport: string (nullable = true)

+---+--------------------+
| id|             airport|
+---+--------------------+
|ALC|           ALCAN, AK|
|ANC|       ANCHORAGE, AK|
|BAR|BAKER AAF - BAKER...|
|DAC|   DALTONS CACHE, AK|
|PIZ|DEW STATION PT LA...|
|DTH|    DUTCH HARBOR, AK|
|EGL|           EAGLE, AK|
|FRB|       FAIRBANKS, AK|
|HOM|           HOMER, AK|
|HYD|           HYDER, AK|
|JUN|          JUNEAU, AK|
|5KE|       KETCHIKAN, AK|
|KET|       KETCHIKAN, AK|
|MOS|MOSES POINT INTER...|
|NIK|         NIKISKI, AK|
|NOM|             NOM, AK|
|PKC|     POKER CREEK, AK|
|ORI|  PORT LIONS SPB, AK|
|SKA|         SKAGWAY, AK|
|SNP| ST. PAUL ISLAND, AK|
+---+--------------------+
only showing top 20 rows

In [118]:
meta_i94['I94ADDR'].keys()

dict_keys(['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'DC', 'FL', 'GA', 'GU', 'HI', 'ID', 'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS', 'MO', 'MT', 'NC', 'ND', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'OH', 'OK', 'OR', 'PA', 'PR', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VI', 'VA', 'WV', 'WA', 'WI', 'WY', '99'])

In [154]:
i94port = meta_i94['I94PORT']
pddf = pd.DataFrame(i94port.items(), columns=["port_id", "location"])
df_i94port = spark.createDataFrame(pddf)
df_i94port = df_i94port.withColumn("loc", F.split(F.col('location'), ",") ) \
                .withColumn("city", F.trim( F.col('loc')[0]) ) \
                .withColumn("state", F.trim( F.col('loc')[1]) ) \
                .drop("loc").drop('location')
print(df_i94port.count())
df_i94port.printSchema()
df_i94port.show()

588
root
 |-- port_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

+-------+--------------------+-----+
|port_id|                city|state|
+-------+--------------------+-----+
|    ALC|               ALCAN|   AK|
|    ANC|           ANCHORAGE|   AK|
|    BAR|BAKER AAF - BAKER...|   AK|
|    DAC|       DALTONS CACHE|   AK|
|    PIZ|DEW STATION PT LA...|   AK|
|    DTH|        DUTCH HARBOR|   AK|
|    EGL|               EAGLE|   AK|
|    FRB|           FAIRBANKS|   AK|
|    HOM|               HOMER|   AK|
|    HYD|               HYDER|   AK|
|    JUN|              JUNEAU|   AK|
|    5KE|           KETCHIKAN|   AK|
|    KET|           KETCHIKAN|   AK|
|    MOS|MOSES POINT INTER...|   AK|
|    NIK|             NIKISKI|   AK|
|    NOM|                 NOM|   AK|
|    PKC|         POKER CREEK|   AK|
|    ORI|      PORT LIONS SPB|   AK|
|    SKA|             SKAGWAY|   AK|
|    SNP|     ST. PAUL ISLAND|   AK|
+-------+--------------------+-----+
only showing top 20 rows

In [155]:
df_i94port = df_i94port.filter( F.col('state').isin(list(meta_i94['I94ADDR'].keys())) ) #  F.length(F.col('state')) == 2 
df_i94port.printSchema()
df_i94port.show()

root
 |-- port_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

+-------+--------------------+-----+
|port_id|                city|state|
+-------+--------------------+-----+
|    ALC|               ALCAN|   AK|
|    ANC|           ANCHORAGE|   AK|
|    BAR|BAKER AAF - BAKER...|   AK|
|    DAC|       DALTONS CACHE|   AK|
|    PIZ|DEW STATION PT LA...|   AK|
|    DTH|        DUTCH HARBOR|   AK|
|    EGL|               EAGLE|   AK|
|    FRB|           FAIRBANKS|   AK|
|    HOM|               HOMER|   AK|
|    HYD|               HYDER|   AK|
|    JUN|              JUNEAU|   AK|
|    5KE|           KETCHIKAN|   AK|
|    KET|           KETCHIKAN|   AK|
|    MOS|MOSES POINT INTER...|   AK|
|    NIK|             NIKISKI|   AK|
|    NOM|                 NOM|   AK|
|    PKC|         POKER CREEK|   AK|
|    ORI|      PORT LIONS SPB|   AK|
|    SKA|             SKAGWAY|   AK|
|    SNP|     ST. PAUL ISLAND|   AK|
+-------+--------------------+-----+
only showing top 20 rows

In [156]:
df_i94port.write.mode('overwrite').parquet(path='df_i94port.parquet')

# Create Visa table for 1,2,3

In [41]:
visa = meta_i94['I94VISA']
print(visa)

{1: 'BUSINESS', 2: 'PLEASURE', 3: 'STUDENT'}

In [42]:
pddf = pd.DataFrame(visa.items(), columns=["visa_id", "visa_type"])
df_i94visa = spark.createDataFrame(pddf)
df_i94visa.printSchema()
df_i94visa.show()

root
 |-- visa_id: long (nullable = true)
 |-- visa_type: string (nullable = true)

+-------+---------+
|visa_id|visa_type|
+-------+---------+
|      1| BUSINESS|
|      2| PLEASURE|
|      3|  STUDENT|
+-------+---------+

In [43]:
df_i94visa.write.mode('overwrite').parquet(path='df_i94visa.parquet')

# Create cit_res dim table

In [44]:
cit = meta_i94['I94CIT']
pddf = pd.DataFrame(cit.items(), columns=["citres_id", "citres"])
df_i94cit = spark.createDataFrame(pddf)
df_i94cit.printSchema()
df_i94cit.show()

root
 |-- citres_id: long (nullable = true)
 |-- citres: string (nullable = true)

+---------+--------------------+
|citres_id|              citres|
+---------+--------------------+
|      582|MEXICO AIR SEA, A...|
|      236|         AFGHANISTAN|
|      101|             ALBANIA|
|      316|             ALGERIA|
|      102|             ANDORRA|
|      324|              ANGOLA|
|      529|            ANGUILLA|
|      518|     ANTIGUA-BARBUDA|
|      687|           ARGENTINA|
|      151|             ARMENIA|
|      532|               ARUBA|
|      438|           AUSTRALIA|
|      103|             AUSTRIA|
|      152|          AZERBAIJAN|
|      512|             BAHAMAS|
|      298|             BAHRAIN|
|      274|          BANGLADESH|
|      513|            BARBADOS|
|      104|             BELGIUM|
|      581|              BELIZE|
+---------+--------------------+
only showing top 20 rows

In [45]:
df_i94cit.write.mode('overwrite').parquet(path='df_i94cit.parquet')

# Create addr dim table

In [47]:
meta_i94.keys()
addr = meta_i94['I94ADDR']
pddf = pd.DataFrame(addr.items(), columns=["addr_id", "state"])
df_i94addr = spark.createDataFrame(pddf)
df_i94addr.printSchema()
df_i94addr.show()

da_1 = df_i94addr.filter( df_i94addr.addr_id == 'CA')
da_1.show()

root
 |-- addr_id: string (nullable = true)
 |-- state: string (nullable = true)

+-------+-----------------+
|addr_id|            state|
+-------+-----------------+
|     AL|          ALABAMA|
|     AK|           ALASKA|
|     AZ|          ARIZONA|
|     AR|         ARKANSAS|
|     CA|       CALIFORNIA|
|     CO|         COLORADO|
|     CT|      CONNECTICUT|
|     DE|         DELAWARE|
|     DC|DIST. OF COLUMBIA|
|     FL|          FLORIDA|
|     GA|          GEORGIA|
|     GU|             GUAM|
|     HI|           HAWAII|
|     ID|            IDAHO|
|     IL|         ILLINOIS|
|     IN|          INDIANA|
|     IA|             IOWA|
|     KS|           KANSAS|
|     KY|         KENTUCKY|
|     LA|        LOUISIANA|
+-------+-----------------+
only showing top 20 rows

+-------+----------+
|addr_id|     state|
+-------+----------+
|     CA|CALIFORNIA|
+-------+----------+

In [48]:
df_i94addr.write.mode('overwrite').parquet(path='df_i94addr.parquet')

# Create demopgrahics dim table

In [86]:
# df_demo_1 = df_degh.filter(df_degh["State_Code"] == "ID")
df_demo_1 = df_degh
df_demo_1.printSchema()
df_demo_1.show()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: integer (nullable = true)
 |-- Female_Population: integer (nullable = true)
 |-- Total_Population: integer (nullable = true)
 |-- Number_Veterans: integer (nullable = true)
 |-- Foregin_born: integer (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: integer (nullable = true)

+----------------+--------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+------+
|            City|         State|Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born|Average_Household|State_Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|           1562|       30908|              2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|           4147|       32935|             2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|           4819|        8229|             2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|           5821|       33878|             3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|           5829|       86253|             2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|           6634|        7517|              2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|           4815|        8355|             3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|           3800|       37038|             3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|           5783|        3269|             2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|           5204|       16315|             2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|           4187|       13234|             2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|           4187|       13234|             2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|          61995|      205339|             2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|          23978|       40270|             2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|          23978|       40270|             2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|           4312|       15365|             2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|          17728|       28187|             2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|           4921|       68427|             3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|           3736|       25000|             2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|           4426|       52281|             2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+------+
only showing top 20 rows

In [87]:
# https://databricks.com/blog/2016/02/09/reshaping-data-with-pivot-in-apache-spark.html
df_pi = df_demo_1.groupby("State_Code","Median_Age","Male_Population","Female_Population","Total_Population","Number_Veterans","Foregin_born","Average_Household").pivot("Race").sum("Count")
df_pi.printSchema()
df_pi.show()

root
 |-- State_Code: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: integer (nullable = true)
 |-- Female_Population: integer (nullable = true)
 |-- Total_Population: integer (nullable = true)
 |-- Number_Veterans: integer (nullable = true)
 |-- Foregin_born: integer (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- American Indian and Alaska Native: long (nullable = true)
 |-- Asian: long (nullable = true)
 |-- Black or African-American: long (nullable = true)
 |-- Hispanic or Latino: long (nullable = true)
 |-- White: long (nullable = true)

+----------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+---------------------------------+-----+-------------------------+------------------+------+
|State_Code|Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born|Average_Household|American Indian and Alaska Native|Asian|Black or African-American|Hispanic or Latino| White|
+----------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+---------------------------------+-----+-------------------------+------------------+------+
|        GA|      26.5|          57415|            65148|          122563|           3953|       12868|             2.44|                              593| 6635|                    34583|             13159| 79931|
|        NC|      37.9|          42100|            46407|           88507|           4973|        6630|             2.18|                              496| 1939|                     9078|              4146| 77979|
|        CA|      39.7|          36226|            40221|           76447|           2898|       16552|             2.77|                             1068| 9182|                     5717|             30787| 46704|
|        SD|      39.5|          36122|            37446|           73568|           7429|        2375|             2.31|                             9159| 2170|                     2217|              2971| 63983|
|        KS|      38.2|          93355|            93156|          186511|          10461|       21407|             2.41|                             1264|17123|                    10685|             10104|161153|
|        CA|      30.2|          34186|            32173|           66359|            416|       28696|             4.57|                             null| null|                     5060|             60895| 30591|
|        PR|      41.4|         155408|           186829|          342237|           null|        null|             null|                             4031| 2452|                     null|            335559|  null|
|        WA|      30.7|          41286|            43857|           85143|           4703|        8713|             2.44|                             2056| 8010|                     2325|              6966| 74183|
|        CA|      37.0|          50405|            54909|          105314|           4048|       32435|             2.52|                             1639|14636|                     4729|             22089| 79582|
|        TX|      42.1|          43889|            44240|           88129|           4377|       31169|             2.95|                             null|33469|                     8993|              7835| 44555|
|        TX|      32.8|          49669|            50744|          100413|           8412|        7859|              2.5|                              548| 1658|                     6079|             42494| 86655|
|        IL|      45.9|          37627|            39369|           76996|           3027|       14630|             2.38|                             null| 9975|                     1222|              2742| 66285|
|        CO|      41.0|          54870|            60165|          115035|           8930|        4921|             2.49|                             2370| 2922|                     2985|             16419|107639|
|        CT|      31.0|          58042|            65972|          124014|           3130|       28467|             2.59|                             2451| 4105|                    49939|             55959| 46529|
|        CA|      39.3|          50966|            52558|          103524|           2730|       34957|             2.64|                              682|30573|                     2880|             23151| 62656|
|        CA|      45.2|          34076|            31456|           65532|           3970|        8109|             2.64|                             null| 4296|                      251|             10421| 58849|
|        OK|      32.5|          45191|            44899|           90090|           5006|        5585|             2.68|                             8051| 5349|                     4987|              6187| 78979|
|        IL|      36.3|          71076|            78270|          149346|           8894|       18323|             2.52|                             2301| 5500|                    33122|             28923|107148|
|        NY|      33.1|         124537|           133529|          258066|          11231|       24630|             2.27|                             4406|14518|                   101254|             29656|130078|
|        MI|      31.4|          54333|            59777|          114110|           5327|        8371|             2.39|                             5254| 4168|                    34196|             14245| 75688|
+----------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+---------------------------------+-----+-------------------------+------------------+------+
only showing top 20 rows

In [88]:
df_demo = df_pi.groupby('State_Code').agg(F.avg('Median_Age').alias('Median_Age'), \
                                         F.sum('Male_Population').alias('Male_Population'), \
                                         F.sum('Female_Population').alias('Female_Population'), \
                                         F.sum('Total_Population').alias('Total_Population'), \
                                         F.sum('Number_Veterans').alias('Number_Veterans'), 
                                         F.sum('Foregin_born').alias('Foregin_born'), \
                                         F.avg('Average_Household').alias('Average_Household'), \
                                         F.sum('American Indian and Alaska Native').alias('American_Indian_Alaska_Native'), \
                                         F.sum('Asian').alias('Asian'), \
                                         F.sum('Black or African-American').alias('Black_African_American'), \
                                         F.sum('Hispanic or Latino').alias('Hispanic_Latino'), \
                                         F.sum('White').alias('White') \
                                        )
df_demo.printSchema()
df_demo.show()

root
 |-- State_Code: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: long (nullable = true)
 |-- Female_Population: long (nullable = true)
 |-- Total_Population: long (nullable = true)
 |-- Number_Veterans: long (nullable = true)
 |-- Foregin_born: long (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- American_Indian_Alaska_Native: long (nullable = true)
 |-- Asian: long (nullable = true)
 |-- Black_African_American: long (nullable = true)
 |-- Hispanic_Latino: long (nullable = true)
 |-- White: long (nullable = true)

+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+-------+----------------------+---------------+--------+
|State_Code|        Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born| Average_Household|American_Indian_Alaska_Native|  Asian|Black_African_American|Hispanic_Latino|   White|
+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+-------+----------------------+---------------+--------+
|        SC| 34.17999999999999|         260944|           272713|          533657|          33463|       27744|             2.472|                         3705|  13355|                175064|          29863|  343764|
|        AZ|           35.0375|        2227455|          2272087|         4499542|         264505|      682313|          2.774375|                       129708| 229183|                296222|        1508157| 3591611|
|        LA|            34.625|         626998|           673597|         1300595|          69771|       83419|             2.465|                         8263|  38739|                602377|          87133|  654578|
|        MN| 35.61818181818182|         702157|           720246|         1422403|          64894|      215873|2.5009090909090914|                        25242| 151544|                216731|         103229| 1050239|
|        NJ| 35.12499999999999|         705736|           723172|         1428908|          30195|      477028| 2.965833333333333|                        11350| 116844|                452202|         600437|  615083|
|        DC|              33.8|         319705|           352523|          672228|          25963|       95117|              2.24|                         6130|  35072|                328786|          71129|  285402|
|        OR|            36.125|         707443|           729066|         1436509|          78948|      185753|2.5387499999999994|                        38597| 117279|                 72150|         201498| 1235819|
|        VA| 34.42857142857143|        1160474|          1203148|         2363622|         229766|      269254| 2.584285714285714|                        26160| 167784|                771569|         216760| 1428158|
|        RI|              37.9|         202816|           210746|          413562|          18607|       87365|2.5225000000000004|                         6369|  24245|                 55556|         109226|  287304|
|        KY|             35.95|         452483|           477394|          929877|          56025|       66488|             2.395|                         7772|  32667|                202749|          50478|  705790|
|        NH|              37.8|          97771|           100427|          198198|          11005|       27199|2.4299999999999997|                         1213|  13989|                 11043|          22473|  174085|
|        MI|37.043749999999996|        1056446|          1147014|         2203460|          99481|      249772|2.5075000000000003|                        27962| 125172|                853877|         149932| 1214721|
|        NV|36.088888888888896|        1118645|          1122099|         2240744|         152047|      481337|2.8133333333333335|                        35390| 254593|                269791|         689798| 1531724|
|        WI| 33.51111111111111|         688803|           724342|         1413145|          61134|      124687| 2.417777777777778|                        24720|  73982|                316896|         202117|  974433|
|        ID| 34.76666666666667|         199103|           199780|          398883|          26380|       28126|2.7100000000000004|                         6705|  13985|                  7822|          48142|  370314|
|        CA|  36.1824817518248|       12278281|         12544179|        24822460|         928270|     7448257| 3.100948905109489|                       401386|4543730|               2047009|        9856464|14905129|
|        CT|           34.9625|         432157|           453424|          885581|          24953|      225866|            2.6625|                        10729|  48311|                231822|         309992|  505674|
|        NE|             33.25|         357333|           363900|          721233|          39197|       71221|             2.435|                        10599|  34243|                 80668|          83812|  600094|
|        MT|              35.5|          87707|            93587|          181294|          13854|        5977|             2.275|                         9684|   4165|                  3349|          10000|  169026|
|        NC|33.785714285714285|        1466105|          1594094|         3060199|         166146|      379327|             2.475|                        35209| 178740|               1029446|         354409| 1790136|
+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+-------+----------------------+---------------+--------+
only showing top 20 rows

In [89]:
df_demo.write.mode('overwrite').parquet(path='df_demo.parquet')

# Step 4: Run Pipelines to Model the Data 
## 4.1 Create the data model
Build the data pipelines to create the data model.

# Build fact table

In [157]:
# Read dim parquet
df_i94visa = spark.read.parquet('./df_i94visa.parquet/')
df_i94port = spark.read.parquet('./df_i94port.parquet/')
df_air = spark.read.parquet('./df_airport.parquet/')
df_i94cit = spark.read.parquet('./df_i94cit.parquet/')
df_i94addr = spark.read.parquet('./df_i94addr.parquet/')
df_demo = spark.read.parquet('./df_demo.parquet/')
df_imm = spark.read.parquet('./i94_valid.parquet/')

In [158]:
df_i94visa.createOrReplaceTempView('i94visa')
df_i94port.createOrReplaceTempView('i94port')
df_air.createOrReplaceTempView('air')
df_i94cit.createOrReplaceTempView('i94cit')
df_i94addr.createOrReplaceTempView('i94addr')
df_demo.createOrReplaceTempView('demo')
df_imm.createOrReplaceTempView('i94')

In [164]:
df_imm.printSchema()
df_imm.show(3)

root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- visatype: string (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94addr: string (nullable = true)

+------+-----+------+------+-------+-------+-------+-------+-------+------+-------+--------+------+-------+
| cicid|i94yr|i94cit|i94res|i94port|arrdate|depdate|i94visa|biryear|gender|airline|visatype|i94mon|i94addr|
+------+-----+------+------+-------+-------+-------+-------+-------+------+-------+--------+------+-------+
|113995| 2016|   691|   691|    MIA|  20789|  20797|      2|   1981|     M|     AV|      B2|    12|     FL|
|133055| 2016|   689|   689|    MIA|  20789|   null|      2|   1975|     M|     AA|      B2|    12|     FL|
|183803| 2016|   687|   687|    MIA|  20789|  20791|      2|   1969|     F|     AA|      B2|    12|     FL|
+------+-----+------+------+-------+-------+-------+-------+-------+------+-------+--------+------+-------+
only showing top 3 rows

## create fact immigration table

In [168]:
# extract columns from joined tables to create fact table
from pyspark.sql.functions import monotonically_increasing_id
df_fact = spark.sql("""
SELECT
    monotonically_increasing_id() as fact_id,
    cicid,
    visatype,
    i94port,
    p.state,
    air.name,
    i94cit,
    c.citres
    i94addr,
    d.Total_Population,
    d.Foregin_born,
    d.American_Indian_Alaska_Native,
    d.Asian,
    d.Black_African_American,
    d.Hispanic_Latino,
    d.White
FROM i94
LEFT JOIN i94visa as v on i94.i94visa = v.visa_id
LEFT JOIN i94port as p on i94.i94port = p.port_id
LEFT JOIN air on i94.i94port = air.iata_code
LEFT JOIN i94cit as c on i94.i94cit = c.citres_id
LEFT JOIN i94addr as a on i94.i94addr = a.addr_id
LEFT JOIN demo as d on i94.i94addr = d.State_Code
""")

df_fact.printSchema()
df_fact.show()

root
 |-- fact_id: long (nullable = false)
 |-- cicid: integer (nullable = true)
 |-- visatype: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- state: string (nullable = true)
 |-- name: string (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- Total_Population: long (nullable = true)
 |-- Foregin_born: long (nullable = true)
 |-- American_Indian_Alaska_Native: long (nullable = true)
 |-- Asian: long (nullable = true)
 |-- Black_African_American: long (nullable = true)
 |-- Hispanic_Latino: long (nullable = true)
 |-- White: long (nullable = true)

+-------+-------+--------+-------+-----+--------------------+------+--------------------+----------------+------------+-----------------------------+------+----------------------+---------------+-------+
|fact_id|  cicid|visatype|i94port|state|                name|i94cit|             i94addr|Total_Population|Foregin_born|American_Indian_Alaska_Native| Asian|Black_African_American|Hispanic_Latino|  White|
+-------+-------+--------+-------+-----+--------------------+------+--------------------+----------------+------------+-----------------------------+------+----------------------+---------------+-------+
|      0| 113995|      B2|    MIA|   FL|Miami Internation...|   691|            COLOMBIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      1| 133055|      B2|    MIA|   FL|Miami Internation...|   689|              BRAZIL|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      2| 183803|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      3| 261301|      WT|    MIA|   FL|Miami Internation...|   129|               SPAIN|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      4| 310182|      B2|    MIA|   FL|Miami Internation...|   584|                CUBA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      5| 572346|      WT|    MIA|   FL|Miami Internation...|   104|             BELGIUM|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      6| 950063|      B2|    MIA|   FL|Miami Internation...|   691|            COLOMBIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      7|1129870|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      8|1136214|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      9|1549068|      B2|    MIA|   FL|Miami Internation...|   582|MEXICO AIR SEA, A...|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     10|1858354|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     11|1918409|      B2|    ORL|   FL|Orlando Executive...|   245|          CHINA, PRC|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     12|2032964|      WT|    NEW|   NJ|   Lakefront Airport|   135|      UNITED KINGDOM|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     13|2081410|      B2|    NYC|   NY|                null|   213|               INDIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     14|2100738|      B2|    MIA|   FL|Miami Internation...|   528|            HONDURAS|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     15|2126190|      WB|    MIA|   FL|Miami Internation...|   129|               SPAIN|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     16|2327678|      B2|    MIA|   FL|Miami Internation...|   691|            COLOMBIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     17|2489132|      WT|    MIA|   FL|Miami Internation...|   131|         SWITZERLAND|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     18|2616792|      B2|    MIA|   FL|Miami Internation...|   689|              BRAZIL|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     19|2723261|      B1|    MIA|   FL|Miami Internation...|   575|          COSTA RICA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
+-------+-------+--------+-------+-----+--------------------+------+--------------------+----------------+------------+-----------------------------+------+----------------------+---------------+-------+
only showing top 20 rows

In [166]:
df_fact.count()

341607

In [169]:
# write fact table into parquet
df_fact.write.partitionBy("visatype", "state").mode('overwrite').parquet(path='df_fact.parquet')

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

# Check source/count for completeness of dimention tables and fact table

In [170]:
# Perform quality checks here
def not_empty(df, df_name):
    print(f"checking if {df_name} quality, not empty.")
    row_cnt = df.count()
    print(f"{df_name}'s size: {row_cnt}")
    print(f"{df_name}'s schema, sample rows")
    df.printSchema()
    df.show()
    
## check visa table is not empty 
not_empty(df_i94visa, "df_i94visa")
not_empty(df_i94port, "df_i94port")
not_empty(df_i94cit, "df_i94cit")
not_empty(df_demo, "df_demo")
not_empty(df_fact, "df_fact")

checking if df_i94visa quality, not empty.
df_i94visa's size: 3
df_i94visa's schema, sample rows
root
 |-- visa_id: long (nullable = true)
 |-- visa_type: string (nullable = true)

+-------+---------+
|visa_id|visa_type|
+-------+---------+
|      2| PLEASURE|
|      1| BUSINESS|
|      3|  STUDENT|
+-------+---------+

checking if df_i94port quality, not empty.
df_i94port's size: 500
df_i94port's schema, sample rows
root
 |-- port_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

+-------+--------------------+-----+
|port_id|                city|state|
+-------+--------------------+-----+
|    PER|         PERTH AMBOY|   NJ|
|    ACY|POMONA FIELD - AT...|   NJ|
|    ABQ|         ALBUQUERQUE|   NM|
|    ANP|      ANTELOPE WELLS|   NM|
|    CRL|            CARLSBAD|   NM|
|    COL|            COLUMBUS|   NM|
|    CDD|CRANE LAKE - ST. ...|   NM|
|    LAS|          LAS CRUCES|   NM|
|    RUI|             RUIDOSO|   NM|
|    STR|        SANTA TERESA|   NM|
|    RNO|CANNON INTL - REN...|   NV|
|    FLX|FALLON MUNICIPAL ...|   NV|
|    LVG|           LAS VEGAS|   NV|
|    REN|                RENO|   NV|
|    ALB|              ALBANY|   NY|
|    AXB|      ALEXANDRIA BAY|   NY|
|    BUF|             BUFFALO|   NY|
|    CNH|      CANNON CORNERS|   NY|
|    CAP|        CAPE VINCENT|   NY|
|    CHM|           CHAMPLAIN|   NY|
+-------+--------------------+-----+
only showing top 20 rows

checking if df_i94cit quality, not empty.
df_i94cit's size: 236
df_i94cit's schema, sample rows
root
 |-- citres_id: long (nullable = true)
 |-- citres: string (nullable = true)

+---------+--------------------+
|citres_id|              citres|
+---------+--------------------+
|      582|MEXICO AIR SEA, A...|
|      236|         AFGHANISTAN|
|      101|             ALBANIA|
|      316|             ALGERIA|
|      102|             ANDORRA|
|      324|              ANGOLA|
|      529|            ANGUILLA|
|      518|     ANTIGUA-BARBUDA|
|      687|           ARGENTINA|
|      151|             ARMENIA|
|      532|               ARUBA|
|      438|           AUSTRALIA|
|      103|             AUSTRIA|
|      152|          AZERBAIJAN|
|      512|             BAHAMAS|
|      298|             BAHRAIN|
|      274|          BANGLADESH|
|      513|            BARBADOS|
|      104|             BELGIUM|
|      581|              BELIZE|
+---------+--------------------+
only showing top 20 rows

checking if df_demo quality, not empty.
df_demo's size: 49
df_demo's schema, sample rows
root
 |-- State_Code: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: long (nullable = true)
 |-- Female_Population: long (nullable = true)
 |-- Total_Population: long (nullable = true)
 |-- Number_Veterans: long (nullable = true)
 |-- Foregin_born: long (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- American_Indian_Alaska_Native: long (nullable = true)
 |-- Asian: long (nullable = true)
 |-- Black_African_American: long (nullable = true)
 |-- Hispanic_Latino: long (nullable = true)
 |-- White: long (nullable = true)

+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+------+----------------------+---------------+--------+
|State_Code|        Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born| Average_Household|American_Indian_Alaska_Native| Asian|Black_African_American|Hispanic_Latino|   White|
+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+------+----------------------+---------------+--------+
|        CO|          35.81875|        1454619|          1481050|         2935669|         187896|      337631|2.5599999999999996|                        62613|148790|                208043|         703722| 2463916|
|        FL|39.666666666666664|        3236773|          3487375|         6796738|         388228|     1688931|2.7778723404255325|                        46759|264933|               1652619|        1942022| 4758144|
|        CT|           34.9625|         432157|           453424|          885581|          24953|      225866|            2.6625|                        10729| 48311|                231822|         309992|  505674|
|        NE|             33.25|         357333|           363900|          721233|          39197|       71221|             2.435|                        10599| 34243|                 80668|          83812|  600094|
|        WA| 35.28823529411765|        1245605|          1254502|         2500107|         153126|      440962|2.5976470588235294|                        60248|346995|                187584|         324070| 1913484|
|        ND|             34.35|          95235|            94255|          189490|          10299|       11492|             2.145|                         7142|  5576|                  8177|           5234|  172068|
|        SC| 34.17999999999999|         260944|           272713|          533657|          33463|       27744|             2.472|                         3705| 13355|                175064|          29863|  343764|
|        AZ|           35.0375|        2227455|          2272087|         4499542|         264505|      682313|          2.774375|                       129708|229183|                296222|        1508157| 3591611|
|        IA|32.271428571428565|         361176|           372635|          733811|          39898|       63687|2.3757142857142854|                         9141| 43230|                 75166|          66424|  610814|
|        NM|            37.775|         409010|           430032|          839042|          60474|       89112|             2.585|                        42428| 32658|                 35853|         417026|  651564|
|        GA|33.809090909090905|         820321|           890711|         1711032|         104515|      147785|2.5527272727272727|                        15746| 94136|                779361|         114366|  830002|
|        NH|              37.8|          97771|           100427|          198198|          11005|       27199|2.4299999999999997|                         1213| 13989|                 11043|          22473|  174085|
|        DC|              33.8|         319705|           352523|          672228|          25963|       95117|              2.24|                         6130| 35072|                328786|          71129|  285402|
|        NJ| 35.12499999999999|         705736|           723172|         1428908|          30195|      477028| 2.965833333333333|                        11350|116844|                452202|         600437|  615083|
|        KY|             35.95|         452483|           477394|          929877|          56025|       66488|             2.395|                         7772| 32667|                202749|          50478|  705790|
|        PA|34.114285714285714|        1117708|          1213148|         2330856|         104850|      290860|2.5028571428571427|                        31849|159308|                851200|         387081| 1245618|
|        OR|            36.125|         707443|           729066|         1436509|          78948|      185753|2.5387499999999994|                        38597|117279|                 72150|         201498| 1235819|
|        TX| 33.34035087719298|        7063571|          7236412|        14299983|         693501|     2942164|              2.86|                       154497|924552|               2130242|        6311431|10508923|
|        ID| 34.76666666666667|         199103|           199780|          398883|          26380|       28126|2.7100000000000004|                         6705| 13985|                  7822|          48142|  370314|
|        MN| 35.61818181818182|         702157|           720246|         1422403|          64894|      215873|2.5009090909090914|                        25242|151544|                216731|         103229| 1050239|
+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+------+----------------------+---------------+--------+
only showing top 20 rows

checking if df_fact quality, not empty.
df_fact's size: 341607
df_fact's schema, sample rows
root
 |-- fact_id: long (nullable = false)
 |-- cicid: integer (nullable = true)
 |-- visatype: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- state: string (nullable = true)
 |-- name: string (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- Total_Population: long (nullable = true)
 |-- Foregin_born: long (nullable = true)
 |-- American_Indian_Alaska_Native: long (nullable = true)
 |-- Asian: long (nullable = true)
 |-- Black_African_American: long (nullable = true)
 |-- Hispanic_Latino: long (nullable = true)
 |-- White: long (nullable = true)

+-------+-------+--------+-------+-----+--------------------+------+--------------------+----------------+------------+-----------------------------+------+----------------------+---------------+-------+
|fact_id|  cicid|visatype|i94port|state|                name|i94cit|             i94addr|Total_Population|Foregin_born|American_Indian_Alaska_Native| Asian|Black_African_American|Hispanic_Latino|  White|
+-------+-------+--------+-------+-----+--------------------+------+--------------------+----------------+------------+-----------------------------+------+----------------------+---------------+-------+
|      0| 113995|      B2|    MIA|   FL|Miami Internation...|   691|            COLOMBIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      1| 133055|      B2|    MIA|   FL|Miami Internation...|   689|              BRAZIL|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      2| 183803|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      3| 261301|      WT|    MIA|   FL|Miami Internation...|   129|               SPAIN|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      4| 310182|      B2|    MIA|   FL|Miami Internation...|   584|                CUBA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      5| 572346|      WT|    MIA|   FL|Miami Internation...|   104|             BELGIUM|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      6| 950063|      B2|    MIA|   FL|Miami Internation...|   691|            COLOMBIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      7|1129870|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      8|1136214|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      9|1549068|      B2|    MIA|   FL|Miami Internation...|   582|MEXICO AIR SEA, A...|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     10|1858354|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     11|1918409|      B2|    ORL|   FL|Orlando Executive...|   245|          CHINA, PRC|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     12|2032964|      WT|    NEW|   NJ|   Lakefront Airport|   135|      UNITED KINGDOM|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     13|2081410|      B2|    NYC|   NY|                null|   213|               INDIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     14|2100738|      B2|    MIA|   FL|Miami Internation...|   528|            HONDURAS|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     15|2126190|      WB|    MIA|   FL|Miami Internation...|   129|               SPAIN|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     16|2327678|      B2|    MIA|   FL|Miami Internation...|   691|            COLOMBIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     17|2489132|      WT|    MIA|   FL|Miami Internation...|   131|         SWITZERLAND|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     18|2616792|      B2|    MIA|   FL|Miami Internation...|   689|              BRAZIL|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     19|2723261|      B1|    MIA|   FL|Miami Internation...|   575|          COSTA RICA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
+-------+-------+--------+-------+-----+--------------------+------+--------------------+----------------+------------+-----------------------------+------+----------------------+---------------+-------+
only showing top 20 rows

# Check dimension table has valid, range of date

In [171]:
# Check fact table has same state as in demographics, airports
# FROM i94
# LEFT JOIN i94visa as v on i94.i94visa = v.visa_id
# LEFT JOIN i94port as p on i94.i94port = p.port_id
# LEFT JOIN air on i94.i94port = air.iata_code
# LEFT JOIN i94cit as c on i94.i94cit = c.citres_id
# LEFT JOIN i94addr as a on i94.i94addr = a.addr_id
# LEFT JOIN demo as d on i94.i94addr = d.State_Code
## demo join port
demo_airport_tbl = spark.sql("""
SELECT 
    state, count(*)
FROM i94port 
GROUP BY 1
ORDER BY 2 desc
""")
not_empty(demo_airport_tbl, "demo_airport_tbl")
## demo join addr

checking if demo_airport_tbl quality, not empty.
demo_airport_tbl's size: 53
demo_airport_tbl's schema, sample rows
root
 |-- state: string (nullable = true)
 |-- count(1): long (nullable = false)

+-----+--------+
|state|count(1)|
+-----+--------+
|   TX|      47|
|   NY|      34|
|   WA|      30|
|   FL|      29|
|   MT|      26|
|   ME|      26|
|   CA|      25|
|   MN|      22|
|   AK|      22|
|   ND|      21|
|   MI|      16|
|   VT|      16|
|   PR|      12|
|   OH|      11|
|   AZ|      11|
|   NJ|       9|
|   NC|       8|
|   NM|       8|
|   CT|       7|
|   IL|       7|
+-----+--------+
only showing top 20 rows

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

In [189]:
df_i94visa.printSchema()
df_i94visa.show()

root
 |-- visa_id: long (nullable = true)
 |-- visa_type: string (nullable = true)

+-------+---------+
|visa_id|visa_type|
+-------+---------+
|      2| PLEASURE|
|      1| BUSINESS|
|      3|  STUDENT|
+-------+---------+

In [190]:
df_i94port.printSchema()
df_i94port.show()

root
 |-- port_id: string (nullable = true)
 |-- city: string (nullable = true)
 |-- state: string (nullable = true)

+-------+--------------------+-----+
|port_id|                city|state|
+-------+--------------------+-----+
|    PER|         PERTH AMBOY|   NJ|
|    ACY|POMONA FIELD - AT...|   NJ|
|    ABQ|         ALBUQUERQUE|   NM|
|    ANP|      ANTELOPE WELLS|   NM|
|    CRL|            CARLSBAD|   NM|
|    COL|            COLUMBUS|   NM|
|    CDD|CRANE LAKE - ST. ...|   NM|
|    LAS|          LAS CRUCES|   NM|
|    RUI|             RUIDOSO|   NM|
|    STR|        SANTA TERESA|   NM|
|    RNO|CANNON INTL - REN...|   NV|
|    FLX|FALLON MUNICIPAL ...|   NV|
|    LVG|           LAS VEGAS|   NV|
|    REN|                RENO|   NV|
|    ALB|              ALBANY|   NY|
|    AXB|      ALEXANDRIA BAY|   NY|
|    BUF|             BUFFALO|   NY|
|    CNH|      CANNON CORNERS|   NY|
|    CAP|        CAPE VINCENT|   NY|
|    CHM|           CHAMPLAIN|   NY|
+-------+--------------------+-----+
only showing top 20 rows

In [194]:
df_air.printSchema()
df_air.show()

root
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- latitude: string (nullable = true)
 |-- longitude: string (nullable = true)

+-------------+--------------------+----------+---------+------------------+-------------------+
|         type|                name|iso_region|iata_code|          latitude|          longitude|
+-------------+--------------------+----------+---------+------------------+-------------------+
|small_airport|Ocean Reef Club A...|     US-FL|      OCA|  -80.274803161621|    25.325399398804|
|small_airport|Pilot Station Air...|     US-AK|      PQS|       -162.899994|          61.934601|
|small_airport|Crested Butte Air...|     US-CO|      CSE|       -106.928341|          38.851918|
|small_airport|   LBJ Ranch Airport|     US-TX|      JCY|-98.62249755859999| 30.251800537100003|
|small_airport|Metropolitan Airport|     US-MA|      PMX|-72.31140136719999| 42.223300933800004|
|small_airport| Nunapitchuk Airport|     US-AK|      NUP|       -162.440454|          60.905591|
|small_airport|     Icy Bay Airport|     US-AK|      ICY|    -141.662002563|        59.96900177|
|small_airport|Kalakaket Creek A...|     US-AK|      KKK|    -156.820392609|      64.4166256967|
|small_airport|Dunsmuir Muni-Mot...|     US-CA|      MHS|       -122.272003|          41.263199|
|small_airport|Grand Canyon Bar ...|     US-AZ|      GCT|       -113.231003|          36.259701|
|small_airport|Lime Village Airport|     US-AK|      LVD|    -155.440002441|      61.3591003418|
|small_airport|   Hog River Airport|     US-AK|      HGZ|      -155.6690063|         66.2161026|
|small_airport|      Ed-Air Airport|     US-IN|      OTN|    -87.4997024536|       38.851398468|
|small_airport|      Telida Airport|     US-AK|      TLF|  -153.26899719238|    63.393901824951|
|small_airport|      Eagle Air Park|     US-TX|      BZT|  -95.579696655273|    28.982200622559|
|small_airport|Blakely Island Ai...|     US-WA|      BYW|    -122.825996399| 48.578998565700005|
|small_airport| Drift River Airport|     US-AK|      DRF|    -152.162002563| 60.588901519800004|
|small_airport|Rinkenberger Rest...|     US-IL|      BDF|-89.61569976810001| 41.230899810800004|
|small_airport|Roy Otten Memoria...|     US-MO|      VRS|  -92.875198364258|    38.427799224854|
|small_airport|  Atmautluak Airport|     US-AK|      ATT|       -162.272995|          60.866699|
+-------------+--------------------+----------+---------+------------------+-------------------+
only showing top 20 rows

In [195]:
df_i94cit.printSchema()
df_i94cit.show()

root
 |-- citres_id: long (nullable = true)
 |-- citres: string (nullable = true)

+---------+--------------------+
|citres_id|              citres|
+---------+--------------------+
|      582|MEXICO AIR SEA, A...|
|      236|         AFGHANISTAN|
|      101|             ALBANIA|
|      316|             ALGERIA|
|      102|             ANDORRA|
|      324|              ANGOLA|
|      529|            ANGUILLA|
|      518|     ANTIGUA-BARBUDA|
|      687|           ARGENTINA|
|      151|             ARMENIA|
|      532|               ARUBA|
|      438|           AUSTRALIA|
|      103|             AUSTRIA|
|      152|          AZERBAIJAN|
|      512|             BAHAMAS|
|      298|             BAHRAIN|
|      274|          BANGLADESH|
|      513|            BARBADOS|
|      104|             BELGIUM|
|      581|              BELIZE|
+---------+--------------------+
only showing top 20 rows

In [177]:
df_i94addr.printSchema()
df_i94addr.show()

root
 |-- addr_id: string (nullable = true)
 |-- state: string (nullable = true)

+-------+---------------+
|addr_id|          state|
+-------+---------------+
|     PA|   PENNSYLVANIA|
|     PR|    PUERTO RICO|
|     RI|   RHODE ISLAND|
|     SC|    S. CAROLINA|
|     SD|      S. DAKOTA|
|     TN|      TENNESSEE|
|     TX|          TEXAS|
|     UT|           UTAH|
|     VT|        VERMONT|
|     VI| VIRGIN ISLANDS|
|     VA|       VIRGINIA|
|     WV|    W. VIRGINIA|
|     WA|     WASHINGTON|
|     WI|      WISCONSON|
|     WY|        WYOMING|
|     99|ALL OTHER CODES|
|     ID|          IDAHO|
|     IL|       ILLINOIS|
|     IN|        INDIANA|
|     IA|           IOWA|
+-------+---------------+
only showing top 20 rows

In [178]:
df_demo.printSchema()
df_demo.show()

root
 |-- State_Code: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: long (nullable = true)
 |-- Female_Population: long (nullable = true)
 |-- Total_Population: long (nullable = true)
 |-- Number_Veterans: long (nullable = true)
 |-- Foregin_born: long (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- American_Indian_Alaska_Native: long (nullable = true)
 |-- Asian: long (nullable = true)
 |-- Black_African_American: long (nullable = true)
 |-- Hispanic_Latino: long (nullable = true)
 |-- White: long (nullable = true)

+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+------+----------------------+---------------+--------+
|State_Code|        Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born| Average_Household|American_Indian_Alaska_Native| Asian|Black_African_American|Hispanic_Latino|   White|
+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+------+----------------------+---------------+--------+
|        CO|          35.81875|        1454619|          1481050|         2935669|         187896|      337631|2.5599999999999996|                        62613|148790|                208043|         703722| 2463916|
|        FL|39.666666666666664|        3236773|          3487375|         6796738|         388228|     1688931|2.7778723404255325|                        46759|264933|               1652619|        1942022| 4758144|
|        CT|           34.9625|         432157|           453424|          885581|          24953|      225866|            2.6625|                        10729| 48311|                231822|         309992|  505674|
|        NE|             33.25|         357333|           363900|          721233|          39197|       71221|             2.435|                        10599| 34243|                 80668|          83812|  600094|
|        WA| 35.28823529411765|        1245605|          1254502|         2500107|         153126|      440962|2.5976470588235294|                        60248|346995|                187584|         324070| 1913484|
|        ND|             34.35|          95235|            94255|          189490|          10299|       11492|             2.145|                         7142|  5576|                  8177|           5234|  172068|
|        SC| 34.17999999999999|         260944|           272713|          533657|          33463|       27744|             2.472|                         3705| 13355|                175064|          29863|  343764|
|        AZ|           35.0375|        2227455|          2272087|         4499542|         264505|      682313|          2.774375|                       129708|229183|                296222|        1508157| 3591611|
|        IA|32.271428571428565|         361176|           372635|          733811|          39898|       63687|2.3757142857142854|                         9141| 43230|                 75166|          66424|  610814|
|        NM|            37.775|         409010|           430032|          839042|          60474|       89112|             2.585|                        42428| 32658|                 35853|         417026|  651564|
|        GA|33.809090909090905|         820321|           890711|         1711032|         104515|      147785|2.5527272727272727|                        15746| 94136|                779361|         114366|  830002|
|        NH|              37.8|          97771|           100427|          198198|          11005|       27199|2.4299999999999997|                         1213| 13989|                 11043|          22473|  174085|
|        DC|              33.8|         319705|           352523|          672228|          25963|       95117|              2.24|                         6130| 35072|                328786|          71129|  285402|
|        NJ| 35.12499999999999|         705736|           723172|         1428908|          30195|      477028| 2.965833333333333|                        11350|116844|                452202|         600437|  615083|
|        KY|             35.95|         452483|           477394|          929877|          56025|       66488|             2.395|                         7772| 32667|                202749|          50478|  705790|
|        PA|34.114285714285714|        1117708|          1213148|         2330856|         104850|      290860|2.5028571428571427|                        31849|159308|                851200|         387081| 1245618|
|        OR|            36.125|         707443|           729066|         1436509|          78948|      185753|2.5387499999999994|                        38597|117279|                 72150|         201498| 1235819|
|        TX| 33.34035087719298|        7063571|          7236412|        14299983|         693501|     2942164|              2.86|                       154497|924552|               2130242|        6311431|10508923|
|        ID| 34.76666666666667|         199103|           199780|          398883|          26380|       28126|2.7100000000000004|                         6705| 13985|                  7822|          48142|  370314|
|        MN| 35.61818181818182|         702157|           720246|         1422403|          64894|      215873|2.5009090909090914|                        25242|151544|                216731|         103229| 1050239|
+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+------+----------------------+---------------+--------+
only showing top 20 rows

In [179]:
df_fact.printSchema()
df_fact.show()

root
 |-- fact_id: long (nullable = false)
 |-- cicid: integer (nullable = true)
 |-- visatype: string (nullable = true)
 |-- i94port: string (nullable = true)
 |-- state: string (nullable = true)
 |-- name: string (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- Total_Population: long (nullable = true)
 |-- Foregin_born: long (nullable = true)
 |-- American_Indian_Alaska_Native: long (nullable = true)
 |-- Asian: long (nullable = true)
 |-- Black_African_American: long (nullable = true)
 |-- Hispanic_Latino: long (nullable = true)
 |-- White: long (nullable = true)

+-------+-------+--------+-------+-----+--------------------+------+--------------------+----------------+------------+-----------------------------+------+----------------------+---------------+-------+
|fact_id|  cicid|visatype|i94port|state|                name|i94cit|             i94addr|Total_Population|Foregin_born|American_Indian_Alaska_Native| Asian|Black_African_American|Hispanic_Latino|  White|
+-------+-------+--------+-------+-----+--------------------+------+--------------------+----------------+------------+-----------------------------+------+----------------------+---------------+-------+
|      0| 113995|      B2|    MIA|   FL|Miami Internation...|   691|            COLOMBIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      1| 133055|      B2|    MIA|   FL|Miami Internation...|   689|              BRAZIL|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      2| 183803|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      3| 261301|      WT|    MIA|   FL|Miami Internation...|   129|               SPAIN|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      4| 310182|      B2|    MIA|   FL|Miami Internation...|   584|                CUBA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      5| 572346|      WT|    MIA|   FL|Miami Internation...|   104|             BELGIUM|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      6| 950063|      B2|    MIA|   FL|Miami Internation...|   691|            COLOMBIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      7|1129870|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      8|1136214|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|      9|1549068|      B2|    MIA|   FL|Miami Internation...|   582|MEXICO AIR SEA, A...|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     10|1858354|      B2|    MIA|   FL|Miami Internation...|   687|           ARGENTINA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     11|1918409|      B2|    ORL|   FL|Orlando Executive...|   245|          CHINA, PRC|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     12|2032964|      WT|    NEW|   NJ|   Lakefront Airport|   135|      UNITED KINGDOM|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     13|2081410|      B2|    NYC|   NY|                null|   213|               INDIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     14|2100738|      B2|    MIA|   FL|Miami Internation...|   528|            HONDURAS|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     15|2126190|      WB|    MIA|   FL|Miami Internation...|   129|               SPAIN|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     16|2327678|      B2|    MIA|   FL|Miami Internation...|   691|            COLOMBIA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     17|2489132|      WT|    MIA|   FL|Miami Internation...|   131|         SWITZERLAND|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     18|2616792|      B2|    MIA|   FL|Miami Internation...|   689|              BRAZIL|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
|     19|2723261|      B1|    MIA|   FL|Miami Internation...|   575|          COSTA RICA|         6796738|     1688931|                        46759|264933|               1652619|        1942022|4758144|
+-------+-------+--------+-------+-----+--------------------+------+--------------------+----------------+------------+-----------------------------+------+----------------------+---------------+-------+
only showing top 20 rows

In [180]:
# Find top states that most Students/Worker visit

In [182]:
df_fact.select('visatype').distinct().collect()

[Row(visatype='F2'),
 Row(visatype='GMB'),
 Row(visatype='B2'),
 Row(visatype='F1'),
 Row(visatype='I1'),
 Row(visatype='WB'),
 Row(visatype='M1'),
 Row(visatype='B1'),
 Row(visatype='WT'),
 Row(visatype='M2'),
 Row(visatype='CP'),
 Row(visatype='GMT'),
 Row(visatype='E1'),
 Row(visatype='I'),
 Row(visatype='E2')]

In [184]:
df_fact.createOrReplaceTempView("fact_tbl")
top_states_fo_visa = spark.sql("""
select 
    visatype, COUNT(visatype)
from fact_tbl
group by 1
order by 2 desc
""")
top_states_fo_visa.printSchema()
top_states_fo_visa.show()

root
 |-- visatype: string (nullable = true)
 |-- count(visatype): long (nullable = false)

+--------+---------------+
|visatype|count(visatype)|
+--------+---------------+
|      B2|         140047|
|      WT|         136919|
|      WB|          23439|
|      B1|          20529|
|      F1|          12950|
|     GMT|           3061|
|      E2|           2013|
|      CP|           1299|
|      F2|            539|
|      E1|            327|
|       I|            316|
|      M1|            125|
|      I1|             29|
|     GMB|              8|
|      M2|              6|
+--------+---------------+

In [188]:
top_states_f1_visa = spark.sql("""
select 
    visatype, state, COUNT(visatype)
from fact_tbl
where visatype == 'F1'
group by 1,2
order by 3 desc
""")
top_states_f1_visa.printSchema()
top_states_f1_visa.show()

root
 |-- visatype: string (nullable = true)
 |-- state: string (nullable = true)
 |-- count(visatype): long (nullable = false)

+--------+-----+---------------+
|visatype|state|count(visatype)|
+--------+-----+---------------+
|      F1|   CA|           2956|
|      F1|   NY|           2321|
|      F1|   IL|           1494|
|      F1|   TX|           1092|
|      F1|   FL|            934|
|      F1|   MA|            816|
|      F1| null|            772|
|      F1|   NJ|            632|
|      F1|   WA|            538|
|      F1|   GA|            386|
|      F1|   MI|            339|
|      F1|   PA|            170|
|      F1|   NC|             95|
|      F1|   MN|             81|
|      F1|   AZ|             64|
|      F1|   HI|             61|
|      F1|   CO|             52|
|      F1|   OR|             28|
|      F1|   MD|             22|
|      F1|   PR|             21|
+--------+-----+---------------+
only showing top 20 rows

# Step 5: Complete Project Write Up
## Clearly state the rationale for the choice of tools and technologies for the project.
* In this project, I'm using AWS EMR & Apache Spark to create data lake from i94, airport, us-cities, and demographics datasets by building Star schema with dimension and fact tables.
* The reason to pick AWS EMR is that it's super easy to horizontal and vertical scale by selecting better instance type, and scale to more nodes. Given the immigration data is 60GB for 1 year. It requires scalable solution. Given data lake solution, it's easy to meet ad-doc query from different data users to achieve their business decisions.
* Since the data is not alwways update, it's easy to store data in S3 to persist with low cost.

## Propose how often the data should be updated and why.
* Since we got immigration everyday, this dataset will be update per day. It'll be more efficient to have step function or airflow pipeline solution to do data lineage/clean/ELT. 
* So as to get dimension tables update, and persist in parquet, and cp to S3 for persist, and run ELT with spark to update fact table. Therefore end users can get updated results from new queries.
    
## Write a description of how you would approach the problem differently under the following scenarios:
* The data was increased by 100x.
 * Since S3 is easy to scale and unlimited space, there's no limit on data persist.
 * To catup processing speed, we can do stream processing which is supported by Spark.
 * To handle peek data ingestion, we can scale EMR on-demand to handle.

* The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * Use AWS Step functions or Airflow pipeline to do schedule/cron jobs.

* The database needed to be accessed by 100+ people.
 * Given the fact table is stored in S3, 100x end user should not encounter throughput bottleneck.