# Project Title
### Data Engineering Capstone Project

#### Project Summary
--describe your project at a high level--

The project follows the follow steps:
* Step 1: Scope the Project and Gather Data
* Step 2: Explore and Assess the Data
* Step 3: Define the Data Model
* Step 4: Run ETL to Model the Data
* Step 5: Complete Project Write Up

In [241]:
# Do all imports and installs here
import logging
import numpy as np
import pandas as pd
import psycopg2
from pprint import pprint
import configparser
import psycopg2
import pandas as pd
pd.set_option('display.max_columns', None)
import os
from pyspark.sql import SparkSession, DataFrame
import pyspark.sql.functions as F 
from pyspark.sql.types import StructType as R, StructField as Fld, DoubleType as Dbl, StringType as Str, IntegerType as Int, DateType as Date
from collections import OrderedDict 
from datetime import datetime, timedelta

logging.basicConfig(level=logging.INFO, format='%(asctime)s %(levelname)s  [%(name)s] %(message)s')
LOG = logging.getLogger('etl')

### Step 1: Scope the Project and Gather Data

#### Scope 
Explain what you plan to do in the project in more detail. What data do you use? What is your end solution look like? What tools did you use? etc>

#### Describe and Gather Data 
Describe the data sets you're using. Where did it come from? What type of information is included?

In [2]:
# Read in the data here
imm_sample = pd.read_csv('./immigration_data_sample.csv')
imm_sample.head()
imm_header = list(imm_sample.head(0))
imm_header = imm_header[1:]
pprint(imm_header)

['cicid',
 'i94yr',
 'i94mon',
 'i94cit',
 'i94res',
 'i94port',
 'arrdate',
 'i94mode',
 'i94addr',
 'depdate',
 'i94bir',
 'i94visa',
 'count',
 'dtadfile',
 'visapost',
 'occup',
 'entdepa',
 'entdepd',
 'entdepu',
 'matflag',
 'biryear',
 'dtaddto',
 'gender',
 'insnum',
 'airline',
 'admnum',
 'fltno',
 'visatype']

In [114]:
# .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0") \
# .config("spark.jars.packages", "saurfang:spark-sas7bdat:3.0.0-s_2.12") \
from pyspark.sql import SparkSession
spark = SparkSession.builder \
                     .config("spark.jars.packages","org.apache.hadoop:hadoop-aws:2.7.0") \
                    .enableHiveSupport() \
                    .getOrCreate()
# df_spark =spark.read.format('com.github.saurfang.sas.spark').load('../../data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat')

In [4]:
#write to parquet
# df_spark.write.parquet("sas_data")
# df_spark=spark.read.parquet("sas_data")

### Step 2: Explore and Assess the Data
#### Explore the Data 
Identify data quality issues, like missing values, duplicate data, etc.

#### Cleaning Steps
Document steps necessary to clean the data

# Performing cleaning tasks here
* Checkout i94 2016 data
* Checkout demographics data
* Checkout airport data
* Checkout temperature data

# get valid values of I94 fields

In [422]:
# try configparsing
config = configparser.ConfigParser()
config.read_file(open('meta_i94.cfg'))

pprint(config['I94MODE'])

<Section: I94MODE>

In [423]:
sections_dict = {}
# get sections and iterate over each
sections = config.sections()

for section in sections:
    options = config.options(section)
    temp_dict = {}
    for option in options:
        k = option.strip('\'').strip().upper()
        v = config.get(section,option).strip('\'').strip().upper()
        temp_dict[k] = v

    sections_dict[section] = temp_dict

In [428]:
# cast meta key into it's original type
meta_i94 = {}
for k, v in sections_dict.items():
    print(k)
    if k == 'I94CIT' or k == 'I94MODE' or k == 'I94VISA':
        meta_i94[k] = {int(vk):vv for vk,vv in v.items()}
    else:
        meta_i94[k] = v

I94CIT
I94PORT
I94MODE
I94VISA
I94ADDR

## i94 data

In [168]:
i94_fnames=['./data/18-83510-I94-Data-2016/i94_jan16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_feb16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_mar16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_apr16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_may16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_jun16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_jul16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_aug16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_sep16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_oct16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_nov16_sub.sas7bdat',
            './data/18-83510-I94-Data-2016/i94_dec16_sub.sas7bdat']

In [216]:
CustomI94Schema = R([
    Fld("cicid", Int()),
    Fld("i94yr", Int()),
    Fld("i94mon", Int()),  
    Fld("i94cit", Int()),  
    Fld("i94res", Int()),  
    Fld("i94port", Str()), 
    Fld("arrdate", Int()), 
    Fld("i94mode", Int()), 
    Fld("i94addr", Str()), 
    Fld("depdate", Int()), 
    Fld("i94bir", Int()),  
    Fld("i94visa", Int()), 
    Fld("count", Int()),
    Fld("dtadfile", Str()),
    Fld("visapost", Str()),
    Fld("occup", Str()),
    Fld("entdepa", Str()), 
    Fld("entdepd", Str()), 
    Fld("entdepu", Str()),
    Fld("matflag", Str()),  
    Fld("biryear", Int()), 
    Fld("dtaddto", Str()),
    Fld("gender", Str()),  
    Fld("insnum", Str()),  
    Fld("airline", Str()), 
    Fld("admnum", Dbl()),  
    Fld("fltno", Str()),
    Fld("visatype", Str())
])

CustomI94JunSchema = R([
    Fld("cicid", Int()),
    Fld("i94yr", Int()),
    Fld("i94mon", Int()),  
    Fld("i94cit", Int()),  
    Fld("i94res", Int()),  
    Fld("i94port", Str()), 
    Fld("arrdate", Int()), 
    Fld("i94mode", Int()), 
    Fld("i94addr", Str()), 
    Fld("depdate", Int()), 
    Fld("i94bir", Int()),  
    Fld("i94visa", Int()), 
    Fld("count", Int()),
    Fld("validres", Int()),
    Fld("delete_days", Int()),
    Fld("delete_mexl", Int()),
    Fld("delete_dup", Int()),
    Fld("delete_visa", Int()), 
    Fld("delete_recdup", Int()),
    Fld("dtadfile", Str()),
    Fld("visapost", Str()),
    Fld("occup", Str()),
    Fld("entdepa", Str()), 
    Fld("entdepd", Str()), 
    Fld("entdepu", Str()),
    Fld("matflag", Str()),  
    Fld("biryear", Int()), 
    Fld("dtaddto", Str()),
    Fld("gender", Str()),  
    Fld("insnum", Str()),  
    Fld("airline", Str()), 
    Fld("admnum", Dbl()),  
    Fld("fltno", Str()),
    Fld("visatype", Str())
])

In [224]:
# Examine i94 data
columns_to_drop = ['validres', 'delete_days', 'delete_mexl', 'delete_dup', 'delete_visa', 'delete_recdup']
df_i94s = OrderedDict() 
for f in i94_fnames:
    fname = os.path.basename(f)
    print(fname)
    if "jun" in fname: 
        d = spark.read.schema(CustomI94JunSchema).format('com.github.saurfang.sas.spark').load(f)
        d = d.drop(*columns_to_drop)
    else:
        d = spark.read.schema(CustomI94Schema).format('com.github.saurfang.sas.spark').load(f)
#     d = d.dropna(subset=["cicid", "arrdate", "i94addr"]).dropDuplicates()
    df_i94s[fname] = d
    d.printSchema()
    d.show()

i94_jan16_sub.sas7bdat
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|      admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|    7| 2016|     1|   101|   101|    BOS|  20465|      1|     MA|   null|    20|      3|    1|    null|    null| null|      T|   null|   null|   null|   1996|     D/S|     M|  null|     LH|3.46608285E8|  424|      F1|
|    8| 2016|     1|   101|   101|    BOS|  20465|      1|     MA|   null|    20|      3|    1|    null|    null| null|      T|   null|   null|   null|   1996|     D/S|     M|  null|     LH|3.46627585E8|  424|      F1|
|    9| 2016|     1|   101|   101|    BOS|  20469|      1|     CT|  20480|    17|      2|    1|    null|    null| null|      T|      N|   null|      M|   1999|07152016|     F|  null|     AF|3.81092385E8|  338|      B2|
|   10| 2016|     1|   101|   101|    BOS|  20469|      1|     CT|  20499|    45|      2|    1|    null|    null| null|      T|      N|   null|      M|   1971|07152016|     F|  null|     AF|3.81087885E8|  338|      B2|
|   11| 2016|     1|   101|   101|    BOS|  20469|      1|     CT|  20499|    12|      2|    1|    null|    null| null|      T|      N|   null|      M|   2004|07152016|     M|  null|     AF|3.81078685E8|  338|      B2|
|   12| 2016|     1|   101|   101|    BOS|  20474|      1|     MA|   null|    33|      2|    1|    null|    null| null|      T|   null|   null|   null|   1983|07202016|     M|  null|     LH|4.06155985E8|  424|      B2|
|   15| 2016|     1|   101|   101|    BOS|  20477|      1|     MA|  20524|    28|      3|    1|    null|    null| null|      T|      O|   null|      M|   1988|     D/S|     F|  null|     LH|4.17363085E8|  424|      F1|
|   17| 2016|     1|   101|   101|    BOS|  20480|      1|     MA|   null|    78|      2|    1|    null|    null| null|      T|   null|   null|   null|   1938|07262016|     M|  null|     TK|4.28558285E8|   81|      B2|
|   18| 2016|     1|   101|   101|    BOS|  20480|      1|     MA|   null|    70|      2|    1|    null|    null| null|      T|   null|   null|   null|   1946|07262016|     F|  null|     TK|4.28561085E8|   81|      B2|
|   20| 2016|     1|   101|   101|    CHI|  20473|      1|     IL|  20482|    28|      2|    1|    null|    null| null|      T|      O|   null|      M|   1988|07192016|     M|  null|     BA|4.01779785E8|  295|      B2|
|   21| 2016|     1|   101|   101|    CHI|  20478|      1|     TN|  20495|    28|      2|    1|    null|    null| null|      T|      N|   null|      M|   1988|07242016|     M|  null|     OS|4.20642985E8|   65|      B2|
|   22| 2016|     1|   101|   101|    TUC|  20476|      1|   null|   null|    62|      2|    1|    null|    null| null|      T|   null|   null|   null|   1954|07222016|     M|  null|     LH|4.12742085E8|  442|      B2|
|   23| 2016|     1|   101|   101|    TUC|  20476|      1|   null|   null|    54|      2|    1|    null|    null| null|      T|   null|   null|   null|   1962|07222016|     F|  null|     LH|4.12735785E8|  442|      B2|
|   24| 2016|     1|   101|   101|    TUC|  20476|      1|     MI|  20508|    64|      2|    1|    null|    null| null|      T|      O|   null|      M|   1952|02252016|     M|  null|     LH|4.12708185E8|  442|      B2|
|   25| 2016|     1|   101|   101|    TUC|  20476|      1|     MI|  20508|    53|      2|    1|    null|    null| null|      T|      O|   null|      M|   1963|02252016|     F|  null|     LH|4.12705485E8|  442|      B2|
|   28| 2016|     1|   101|   101|    LVG|  20481|      1|     NV|   null|    77|      2|    1|    null|    null| null|      T|   null|   null|   null|   1939|07272016|     F|  null|     DE|4.31613585E8| 2062|      B2|
|   29| 2016|     1|   101|   101|    LVG|  20481|      1|     NV|   null|    74|      2|    1|    null|    null| null|      T|   null|   null|   null|   1942|07272016|     M|  null|     DE|4.31605285E8| 2062|      B2|
|   30| 2016|     1|   101|   101|    MIA|  20459|      1|     FL|   null|    26|      3|    1|    null|    null| null|      T|   null|   null|   null|   1990|     D/S|     M|  null|     AB|3.09652985E8| 7000|      F1|
|   32| 2016|     1|   101|   101|    MIA|  20471|      1|     FL|  20501|    42|      2|    1|    null|    null| null|      T|      O|   null|      M|   1974|02182016|     M|  null|     OS|3.91844985E8|   97|      B2|
|   33| 2016|     1|   101|   101|    NEW|  20463|      1|     NJ|   null|    70|      2|    1|    null|    null| null|      T|   null|   null|   null|   1946|07092016|     M|  null|     OS|3.31349485E8|   89|      B2|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
only showing top 20 rows

i94_feb16_sub.sas7bdat
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|      admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
|    2| 2016|     2|   101|   101|    ATL|  20498|      1|     MI|   null|    21|      3|    1|    null|    null| null|      T|   null|   null|   null|   1995|     D/S|     F|  null|     DL|4.91319785E8|  241|      F1|
|    5| 2016|     2|   101|   101|    CHI|  20492|      1|     IL|   null|    55|      2|    1|    null|    null| null|      T|   null|   null|   null|   1961|08072016|     F|  null|     TK|4.70581085E8|    5|      B2|
|    6| 2016|     2|   101|   101|    CHI|  20492|      1|     IL|   null|     6|      2|    1|    null|    null| null|      T|   null|   null|   null|   2010|08072016|     M|  null|     TK|4.70572885E8|    5|      B2|
|    7| 2016|     2|   101|   101|    CHI|  20500|      1|     AZ|  20527|    38|      2|    1|    null|    null| null|      T|      N|   null|      M|   1978|08152016|     F|  null|     LH|4.97400985E8|  434|      B2|
|    8| 2016|     2|   101|   101|    CHI|  20503|      1|     IL|  20518|    37|      2|    1|    null|    null| null|      T|      O|   null|      M|   1979|08182016|     M|  null|     AA|5.07772085E8|   87|      B2|
|    9| 2016|     2|   101|   101|    CHI|  20506|      1|     IL|  20520|    21|      2|    1|    null|    null| null|      T|      O|   null|      M|   1995|08212016|     M|  null|     OS|5.23079485E8|   65|      B2|
|   13| 2016|     2|   101|   101|    TUC|  20495|      1|     MI|   null|    43|      2|    1|    null|    null| null|      T|   null|   null|   null|   1973|08102016|     M|  null|     LH|4.78972185E8|  442|      B2|
|   15| 2016|     2|   101|   101|    TUC|  20501|      1|     MI|   null|    20|      2|    1|    null|    null| null|      T|   null|   null|   null|   1996|08162016|     M|  null|     DL|5.02626885E8|  137|      B2|
|   16| 2016|     2|   101|   101|    TUC|  20503|      1|   null|  20519|    42|      2|    1|    null|    null| null|      T|      O|   null|      M|   1974|08182016|     F|  null|     LH|5.09809885E8|  442|      B2|
|   17| 2016|     2|   101|   101|    TUC|  20504|      1|     MI|   null|    72|      2|    1|    null|    null| null|      T|   null|   null|   null|   1944|08192016|     F|  null|     LH|5.13194085E8|  442|      B2|
|   18| 2016|     2|   101|   101|    TUC|  20504|      1|     MI|   null|    54|      2|    1|    null|    null| null|      T|   null|   null|   null|   1962|08192016|     M|  null|     LH|5.13186885E8|  442|      B2|
|   19| 2016|     2|   101|   101|    TUC|  20504|      1|     MI|   null|    27|      2|    1|    null|    null| null|      T|   null|   null|   null|   1989|08192016|     M|  null|     LH|5.13195085E8|  442|      B2|
|   20| 2016|     2|   101|   101|    LOS|  20495|      1|     FL|   null|    23|      2|    1|    null|    null| null|      T|   null|   null|   null|   1993|08102016|     M|  null|     QF|4.77186585E8|   93|      B2|
|   23| 2016|     2|   101|   101|    NEW|  20495|      1|     NY|   null|    34|      1|    1|    null|    null| null|      T|   null|   null|   null|   1982|08102016|     M|  null|     LH|4.79654185E8|  412|      B1|
|   24| 2016|     2|   101|   101|    NEW|  20503|      1|     NJ|  20513|    23|      2|    1|    null|    null| null|      T|      O|   null|      M|   1993|08182016|     M|  null|     OS|5.07867385E8|   89|      B2|
|   26| 2016|     2|   101|   101|    NYC|  20491|      1|     NY|   null|    77|      2|    1|    null|    null| null|      T|   null|   null|   null|   1939|08062016|     M|  null|     OS|4.64868385E8|   87|      B2|
|   29| 2016|     2|   101|   101|    NYC|  20497|      1|     NY|  20507|    51|      1|    1|    null|    null| null|      T|      O|   null|      M|   1965|08122016|     M|  null|     TK|4.85192785E8|    3|      B1|
|   32| 2016|     2|   101|   101|    NYC|  20506|      1|     NY|  20534|    27|      2|    1|    null|    null| null|      T|      N|   null|      M|   1989|08212016|     F|  null|     AZ|5.23095085E8|  610|      B2|
|   33| 2016|     2|   101|   101|    NYC|  20506|      1|     NY|  20535|    36|      2|    1|    null|    null| null|      T|      O|   null|      M|   1980|08212016|     F|  null|     AZ|5.23058385E8|  610|      B2|
|   36| 2016|     2|   101|   101|    TAM|  20490|      1|     FL|  20590|    55|      2|    1|    null|    null| null|      T|      O|   null|      M|   1961|08052016|     F|  null|     LH|4.62174285E8|  482|      B2|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+------------+-----+--------+
only showing top 20 rows

i94_mar16_sub.sas7bdat
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|        admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
|    2| 2016|     3|   213|   213|    XXX|  20543|   null|   null|   null|    64|      2|    1|    null|    null| null|      T|   null|      U|   null|   1952|09292016|  null|  null|   null| 1.140199685E9| null|      B2|
|    3| 2016|     3|   245|   245|    XXX|  20524|   null|   null|   null|    60|      2|    1|    null|    null| null|      T|   null|      U|   null|   1956|09102016|  null|  null|   null| 1.697294685E9| null|      B2|
|    7| 2016|     3|   260|   260|    SFR|  20514|      1|     CA|  20640|    28|      2|    1|20150912|     MNL| null|      G|      O|      U|      M|   1988|08312016|     F|  null|     PR|7.391006613E10|00104|      B2|
|    9| 2016|     3|   691|   691|    FTL|  20533|      1|     FL|   null|    82|      3|    1|20160114|     BGT| null|      G|   null|   null|   null|   1934|     D/S|     M|  null|    *GA|8.539318803E10|N900J|      F1|
|   11| 2016|     3|   258|   258|    XXX|  20514|      1|     NY|  20533|    36|      1|    1|20160229|     PRS| null|      G|      O|      U|      M|   1980|08282016|     M|  null|     AA|8.937569953E10|   45|      B1|
|   12| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20598|    37|      1|    1|20160301|    null| null|      O|      I|   null|      M|   1979|08312016|  null|  null|     TK|8.944787503E10|00003|      B1|
|   14| 2016|     3|   101|   101|    MIA|  20514|      1|     FL|  20544|    29|      2|    1|20160301|     FLR| null|      G|      O|   null|      M|   1987|08312016|     M|  null|     LH|8.946287093E10|00462|      B2|
|   15| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20524|    23|      2|    1|20160301|     LND| null|      G|      O|   null|      M|   1993|08312016|     M|  null|     VS|8.948221803E10|00009|      B2|
|   17| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|   null|    26|      2|    1|20160301|     TIA| null|      G|   null|   null|   null|   1990|08312016|     M|  null|     TK|8.948743103E10|00011|      B2|
|   18| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20525|    53|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1963|08312016|     M|  null|     TK|8.944831413E10|00003|      B2|
|   20| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20525|    22|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1994|08312016|     M|  null|     AZ|8.946066533E10|00608|      B2|
|   21| 2016|     3|   101|   101|    NYC|  20514|      1|     NY|  20635|    73|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1943|08312016|     F|  null|     AZ|8.948164883E10|00610|      B2|
|   22| 2016|     3|   101|   101|    LOS|  20514|      1|     CA|  20586|    18|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1998|08312016|     M|  null|     TK|8.948161763E10|00009|      B2|
|   23| 2016|     3|   101|   101|    CHI|  20514|      1|     KS|  20562|    36|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1980|08312016|     F|  null|     LH|8.948435393E10|00434|      B2|
|   24| 2016|     3|   101|   101|    CHI|  20514|      1|     KS|  20562|    31|      2|    1|20160301|     TIA| null|      G|      O|   null|      M|   1985|08312016|     F|  null|     LH|8.948448403E10|00434|      B2|
|   25| 2016|     3|   101|   101|    SEA|  20514|      1|     WA|   null|    21|      3|    1|20160301|     TIA| null|      G|   null|   null|   null|   1995|     D/S|     F|  null|     BA|8.948039013E10|00049|      F1|
|   26| 2016|     3|   101|   101|    SEA|  20514|      1|     WA|   null|    19|      3|    1|20160301|     TIA| null|      G|   null|   null|   null|   1997|     D/S|     M|  null|     BA|8.948034253E10|00049|      F1|
|   28| 2016|     3|   101|   117|    ATL|  20514|      1|     NY|  20516|    35|      2|    1|20160301|     FLR| null|      H|      O|   null|      M|   1981|08152016|     M|  null|     EV|8.830011213E10|05318|      B2|
|   29| 2016|     3|   101|   117|    ATL|  20514|      1|     NY|  20516|    34|      2|    1|20160301|     FLR| null|      H|      O|   null|      M|   1982|08152016|     F|  null|     EV|8.830010853E10|05318|      B2|
|   30| 2016|     3|   101|   117|    ATL|  20514|      1|     NY|  20516|    30|      2|    1|20160301|     FLR| null|      H|      O|   null|      M|   1986|08152016|     F|  null|     EV|8.830011403E10|05318|      B2|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+--------------+-----+--------+
only showing top 20 rows

i94_apr16_sub.sas7bdat
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)

In [225]:
# define sample rate so that each month got same # of rows in union i94 df.
## get file size of each month i94 by ../../data/18-83510-I94-Data-2016/
# i94_filesizes = [415, 374, 459, 451, 501, 684, 620, 597, 543, 531, 424, 500]
# i94_samplerate = []
# N = 5
# for i in i94_filesizes:
#     i94_samplerate.append(N/i)
# print(i94_samplerate)

# i94_samplerate_dict = {}
# i = 0
# for k in df_i94s.keys():
#     i94_samplerate_dict[k] = i94_samplerate[i]
#     i = i+1
# pprint(i94_samplerate_dict)

In [226]:
# sample 1% of each month of i94, since origin size of sas is around 500MB.
sample_rate = 0.1
df_i94s_sample = {}
for k, v in df_i94s.items():
    df_i94s_sample[k] = v.sample(sample_rate)
    
from functools import reduce
print(len(df_i94s_sample.values()))
df_i94s_sample_unionall = reduce(DataFrame.unionAll, df_i94s_sample.values())

df_i94s_sample_unionall.printSchema()

12
root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [227]:
df_i94s_sample_unionall.write.mode('overwrite').parquet(path='i94_sample.parquet')

In [228]:
%%time
df_sas = spark.read.parquet('sas_data/')
df_sas.count()

CPU times: user 3.53 ms, sys: 99 s, total: 3.63 ms
Wall time: 281 ms

3096313

In [270]:
%%time
df_imm = spark.read.parquet('i94_sample.parquet/')
df_imm = df_imm.dropna(subset=["cicid", "arrdate", "i94addr"]).dropDuplicates()
df_imm = df_imm.filter( df_imm.i94cit.isin(list(meta_i94['I94CIT'].keys())) )
df_imm = df_imm.filter( df_imm.i94res.isin(list(meta_i94['I94CIT'].keys())) )
LOG.info(df_imm.count())
df_imm.printSchema()
df_imm.show()

2020-09-30 16:34:10,697 INFO  [etl] 3402211

root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94mode: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94bir: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- count: integer (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
| 2187| 2016|    12|   209|   209|    AGA|  20789|      1|     FL|   null|    59|      2|    1|20161201|    null| null|      A|   null|   null|   null|   1957|01142017|     M|  3931|     UA|5.7326568033E10|00827|     GMT|
| 5708| 2016|    12|   209|   209|    AGA|  20789|      1|     NY|  20793|    29|      2|    1|20161201|    null| null|      A|      D|   null|      M|   1987|01142017|     F|  3943|     DL|7.4113742133E10|00608|     GMT|
| 9882| 2016|     8|   582|   582|    LVG|  20667|      1|     NV|  20670|    64|      2|    1|20160801|    null| null|      K|      O|   null|      M|   1952|02012017|     M|  null|     4O| 1.743906734E10|00970|      B2|
|19222| 2016|    12|   245|   245|    LOS|  20789|      1|     CA|  20796|    36|      2|    1|20161202|    null| null|      G|      O|   null|      M|   1980|05312017|     F|  null|     DL| 2.325259114E10|00186|      B2|
|24161| 2016|     8|   135|   135|    SPM|  20667|      1|     TX|  20676|    22|      2|    1|20160811|    null| null|      G|      O|   null|      M|   1994|10292016|     M| 79055|     EV|  4.392760285E9| 5140|      WT|
|25124| 2016|     8|   209|   209|    AGA|  20667|      1|     GU|  20671|    42|      2|    1|20160801|    null| null|      G|      O|   null|      M|   1974|10292016|     M|  null|     JL|  4.376863485E9|  941|      WT|
|25373| 2016|     8|   117|   117|    NEW|  20667|      1|     NY|  20670|    46|      2|    1|20160801|    null| null|      G|      O|   null|      M|   1970|10292016|     M|  null|     UA|  4.380464085E9|   91|      WT|
|26632| 2016|     8|   687|   687|    MIA|  20667|      1|     FL|  20676|    28|      2|    1|20160810|    null| null|      G|      O|   null|      M|   1988|01312017|     M|155498|     4M|  4.399722385E9| 4520|      B2|
|30405| 2016|     8|   297|   297|    NYC|  20667|      1|     NY|  20731|    32|      2|    1|20160801|     DOH| null|      G|      O|   null|      M|   1984|01312017|     M|  null|     QR|  4.399799385E9|  703|      B2|
|33205| 2016|     8|   116|   116|    NYC|  20667|      1|     NY|  20683|    29|      2|    1|20160818|    null| null|      G|      O|   null|      M|   1987|10292016|     F| 76028|     DL|  4.382082085E9|   45|      WT|
|33848| 2016|     8|   687|   687|    MIA|  20667|      1|     IL|  20674|    19|      2|    1|20160808|    null| null|      G|      O|   null|      M|   1997|01312017|     M|155959|     AR|  4.392301085E9| 1302|      B2|
|34363| 2016|    12|   438|   438|    LOS|  20789|      1|     CA|  20791|    58|      2|    1|20161201|    null| null|      O|      O|   null|      M|   1958|02282017|     M|  null|     VA|1.5270158985E10|    1|      WT|
|38711| 2016|    12|   129|   129|    FTL|  20789|      1|     FL|  20845|    49|      2|    1|20161201|    null| null|      G|      I|   null|      M|   1967|02282017|     M|  null|     B6|1.5289533585E10|  800|      WT|
|40399| 2016|    12|   251|   251|    SFR|  20789|      1|     CA|  20794|    53|      1|    1|20161201|     TLV| null|      G|      O|   null|      M|   1963|05312017|     F|  null|     UA|1.5276539885E10|  955|      B1|
|42339| 2016|    12|   689|   689|    NYC|  20789|      1|     NY|  20797|    45|      2|    1|20161201|     RCF| null|      G|      O|   null|      M|   1971|05312017|     F|  null|     JJ|1.5262319585E10| 8102|      B2|
|44853| 2016|    12|   245|   245|    CHI|  20789|      1|     IL|  20811|    37|      1|    1|20161201|     GUZ| null|      G|      O|   null|      M|   1979|05312017|     M|  null|     CX|1.5298568185E10|  806|      B1|
|44991| 2016|     8|   687|   687|    HOU|  20667|      1|     TX|  20671|    36|      1|    1|20160801|     BNS| null|      G|      O|   null|      M|   1980|01312017|     F|  null|     UA|  4.385980685E9|  818|      B1|
|45797| 2016|     8|   689|   689|    NYC|  20667|      1|     NY|  20670|    32|      1|    1|20160805|    null| null|      G|      Q|   null|      M|   1984|01312017|     F|504416|     JJ|  4.399011085E9| 8080|      B1|
|48162| 2016|     8|   260|   260|    SFR|  20667|      1|     CA|  20756|    27|      2|    1|20160801|     MNL| null|      G|      O|   null|      M|   1989|01302017|     M|  null|     PR|  4.373343485E9|  104|      B2|
|57749| 2016|     8|   130|   130|    NEW|  20667|      1|     NY|  20682|    22|      2|    1|20160801|    null| null|      G|      O|   null|      M|   1994|10292016|     F|  null|     UA|  4.418152985E9|   69|      WT|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
only showing top 20 rows

CPU times: user 121 ms, sys: 68.5 ms, total: 190 ms
Wall time: 42.1 s

In [416]:
# extract valid i94 data
drop_columns = ['i94mode', 'i94bir', 'count', 'dtadfile', 'visapost', 'occup', 'entdepa', 'entdepd', 'entdepu', 'matflag', 'dtaddto', 'insnum', 'admnum', 'fltno']
df_imm = df_imm.drop(*drop_columns)
df_imm.printSchema()
df_imm.show()

root
 |-- cicid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: integer (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: integer (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- visatype: string (nullable = true)

+-----+-----+------+------+------+-------+-------+-------+-------+-------+-------+------+-------+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94addr|depdate|i94visa|biryear|gender|airline|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+-------+------+-------+--------+
| 2187| 2016|    12|   209|   209|    AGA|  20789|     FL|   null|      2|   1957|     M|     UA|     GMT|
| 5708| 2016|    12|   209|   209|    AGA|  20789|     NY|  20793|      2|   1987|     F|     DL|     GMT|
| 9882| 2016|     8|   582|   582|    LVG|  20667|     NV|  20670|      2|   1952|     M|     4O|      B2|
|19222| 2016|    12|   245|   245|    LOS|  20789|     CA|  20796|      2|   1980|     F|     DL|      B2|
|24161| 2016|     8|   135|   135|    SPM|  20667|     TX|  20676|      2|   1994|     M|     EV|      WT|
|25124| 2016|     8|   209|   209|    AGA|  20667|     GU|  20671|      2|   1974|     M|     JL|      WT|
|25373| 2016|     8|   117|   117|    NEW|  20667|     NY|  20670|      2|   1970|     M|     UA|      WT|
|26632| 2016|     8|   687|   687|    MIA|  20667|     FL|  20676|      2|   1988|     M|     4M|      B2|
|30405| 2016|     8|   297|   297|    NYC|  20667|     NY|  20731|      2|   1984|     M|     QR|      B2|
|33205| 2016|     8|   116|   116|    NYC|  20667|     NY|  20683|      2|   1987|     F|     DL|      WT|
|33848| 2016|     8|   687|   687|    MIA|  20667|     IL|  20674|      2|   1997|     M|     AR|      B2|
|34363| 2016|    12|   438|   438|    LOS|  20789|     CA|  20791|      2|   1958|     M|     VA|      WT|
|38711| 2016|    12|   129|   129|    FTL|  20789|     FL|  20845|      2|   1967|     M|     B6|      WT|
|40399| 2016|    12|   251|   251|    SFR|  20789|     CA|  20794|      1|   1963|     F|     UA|      B1|
|42339| 2016|    12|   689|   689|    NYC|  20789|     NY|  20797|      2|   1971|     F|     JJ|      B2|
|44853| 2016|    12|   245|   245|    CHI|  20789|     IL|  20811|      1|   1979|     M|     CX|      B1|
|44991| 2016|     8|   687|   687|    HOU|  20667|     TX|  20671|      1|   1980|     F|     UA|      B1|
|45797| 2016|     8|   689|   689|    NYC|  20667|     NY|  20670|      1|   1984|     F|     JJ|      B1|
|48162| 2016|     8|   260|   260|    SFR|  20667|     CA|  20756|      2|   1989|     M|     PR|      B2|
|57749| 2016|     8|   130|   130|    NEW|  20667|     NY|  20682|      2|   1994|     F|     UA|      WT|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+-------+------+-------+--------+
only showing top 20 rows

In [418]:
# write valid i94 into parquet for Spark
df_imm.write.mode('overwrite').parquet(path='i94_valid.parquet')

In [419]:
staging_imm = df_imm.createOrReplaceTempView("imm")

In [420]:
imm_table = spark.sql("""
select distinct i94mon, COUNT(*)
FROM imm
GROUP BY 1
ORDER BY 1 asc
""")
imm_table.printSchema()
imm_table.show()
LOG.info(f"total 1% sample parquet rows: {imm_table.count()}")

root
 |-- i94mon: integer (nullable = true)
 |-- count(1): long (nullable = false)

+------+--------+
|i94mon|count(1)|
+------+--------+
|     1|  229728|
|     2|  207544|
|     3|  258221|
|     4|  258500|
|     5|  284546|
|     6|  298284|
|     7|  362330|
|     8|  349680|
|     9|  311740|
|    10|  305532|
|    11|  243670|
|    12|  292436|
+------+--------+

2020-09-30 19:51:44,468 INFO  [etl] total 1% sample parquet rows: 12

In [232]:
test = spark.sql("""
select cicid, count(*)
from imm
group by 1
having count(cicid) > 1
order by 2
""")
test.printSchema()
test.show()
test.count()

root
 |-- cicid: integer (nullable = true)
 |-- count(1): long (nullable = false)

+-------+--------+
|  cicid|count(1)|
+-------+--------+
|4643758|       2|
|5133024|       2|
|4758513|       2|
|6106423|       2|
| 446447|       2|
|1735689|       2|
| 454087|       2|
|3797978|       2|
| 914792|       2|
|1991821|       2|
| 373035|       2|
|3688657|       2|
|2535632|       2|
|4329643|       2|
|3066636|       2|
| 806482|       2|
|4334036|       2|
|1805074|       2|
|2095808|       2|
|3960505|       2|
+-------+--------+
only showing top 20 rows

722568

## demographics data

In [372]:
custom_demo_schema = R([
    Fld("City", Str()),
    Fld("State", Str()),
    Fld("Median_Age", Dbl()),  
    Fld("Male_Population", Int()),
    Fld("Female_Population", Int()),
    Fld("Total_Population", Int()),
    Fld("Number_Veterans", Int()),
    Fld("Foregin_born", Int()),
    Fld("Average_Household", Dbl()),
    Fld("State_Code", Str()),
    Fld("Race", Str()),
    Fld("Count", Int()),
])

df_degh = spark.read.schema(custom_demo_schema).options(header='True',sep=';').csv('./us-cities-demographics.csv')
df_degh.printSchema()
df_degh.show(5)

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: integer (nullable = true)
 |-- Female_Population: integer (nullable = true)
 |-- Total_Population: integer (nullable = true)
 |-- Number_Veterans: integer (nullable = true)
 |-- Foregin_born: integer (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: integer (nullable = true)

+----------------+-------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+-----+
|            City|        State|Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born|Average_Household|State_Code|                Race|Count|
+----------------+-------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+-----+
|   Silver Spring|     Maryland|      33.8|          40601|            41862|           82463|           1562|       30908|              2.6|        MD|  Hispanic or Latino|25924|
|          Quincy|Massachusetts|      41.0|          44129|            49500|           93629|           4147|       32935|             2.39|        MA|               White|58723|
|          Hoover|      Alabama|      38.5|          38040|            46799|           84839|           4819|        8229|             2.58|        AL|               Asian| 4759|
|Rancho Cucamonga|   California|      34.5|          88127|            87105|          175232|           5821|       33878|             3.18|        CA|Black or African-...|24437|
|          Newark|   New Jersey|      34.6|         138040|           143873|          281913|           5829|       86253|             2.73|        NJ|               White|76402|
+----------------+-------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+-----+
only showing top 5 rows

## Checkout airport data

In [261]:
df_air = spark.read.options(header='True',inferSchema='True').csv('./airport-codes_csv.csv')
df_air = df_air.dropna(subset=["iata_code"])
df_air.printSchema()
df_air.show(5)
df_air.count()

root
 |-- ident: string (nullable = true)
 |-- type: string (nullable = true)
 |-- name: string (nullable = true)
 |-- elevation_ft: integer (nullable = true)
 |-- continent: string (nullable = true)
 |-- iso_country: string (nullable = true)
 |-- iso_region: string (nullable = true)
 |-- municipality: string (nullable = true)
 |-- gps_code: string (nullable = true)
 |-- iata_code: string (nullable = true)
 |-- local_code: string (nullable = true)
 |-- coordinates: string (nullable = true)

+-----+-------------+--------------------+------------+---------+-----------+----------+-------------+--------+---------+----------+--------------------+
|ident|         type|                name|elevation_ft|continent|iso_country|iso_region| municipality|gps_code|iata_code|local_code|         coordinates|
+-----+-------------+--------------------+------------+---------+-----------+----------+-------------+--------+---------+----------+--------------------+
|  03N|small_airport|      Utirik Airport|           4|       OC|         MH|    MH-UTI|Utirik Island|    K03N|      UTK|       03N|  169.852005, 11.222|
| 07FA|small_airport|Ocean Reef Club A...|           8|       NA|         US|     US-FL|    Key Largo|    07FA|      OCA|      07FA|-80.274803161621,...|
|  0AK|small_airport|Pilot Station Air...|         305|       NA|         US|     US-AK|Pilot Station|    null|      PQS|       0AK|-162.899994, 61.9...|
| 0CO2|small_airport|Crested Butte Air...|        8980|       NA|         US|     US-CO|Crested Butte|    0CO2|      CSE|      0CO2|-106.928341, 38.8...|
| 0TE7|small_airport|   LBJ Ranch Airport|        1515|       NA|         US|     US-TX| Johnson City|    0TE7|      JCY|      0TE7|-98.6224975585999...|
+-----+-------------+--------------------+------------+---------+-----------+----------+-------------+--------+---------+----------+--------------------+
only showing top 5 rows

9189

In [421]:
df_air.write.mode('overwrite').parquet(path='df_airport.parquet')

## Checkout temperature data

In [236]:
df_tmpt = spark.read.options(header='True', inferSchema='True').csv('./GlobalLandTemperaturesByCity.csv')
df_tmpt = df_tmpt.filter(df_tmpt.Country == "United States")
df_tmpt.printSchema()
df_tmpt.show(5)

root
 |-- dt: string (nullable = true)
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)

+----------+------------------+-----------------------------+-------+-------------+--------+---------+
|        dt|AverageTemperature|AverageTemperatureUncertainty|   City|      Country|Latitude|Longitude|
+----------+------------------+-----------------------------+-------+-------------+--------+---------+
|1820-01-01|2.1010000000000004|                        3.217|Abilene|United States|  32.95N|  100.53W|
|1820-02-01|             6.926|                        2.853|Abilene|United States|  32.95N|  100.53W|
|1820-03-01|            10.767|                        2.395|Abilene|United States|  32.95N|  100.53W|
|1820-04-01|17.988999999999994|                        2.202|Abilene|United States|  32.95N|  100.53W|
|1820-05-01|            21.809|                        2.036|Abilene|United States|  32.95N|  100.53W|
+----------+------------------+-----------------------------+-------+-------------+--------+---------+
only showing top 5 rows

In [237]:
df_tmpt.write.mode('overwrite').parquet(path='temperature_us.parquet')

In [258]:
df_temper = spark.read.parquet('./temperature_us.parquet/')
df_temper = df_temper.withColumn("datetime", F.col("dt").cast("date")).drop("dt")
df_temper = df_temper.filter( df_temper["datetime"] >= F.lit('2016-01-01') )
df_temper.printSchema()
df_temper.show()

root
 |-- AverageTemperature: double (nullable = true)
 |-- AverageTemperatureUncertainty: double (nullable = true)
 |-- City: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Latitude: string (nullable = true)
 |-- Longitude: string (nullable = true)
 |-- datetime: date (nullable = true)

+------------------+-----------------------------+----+-------+--------+---------+--------+
|AverageTemperature|AverageTemperatureUncertainty|City|Country|Latitude|Longitude|datetime|
+------------------+-----------------------------+----+-------+--------+---------+--------+
+------------------+-----------------------------+----+-------+--------+---------+--------+

### Step 3: Define the Data Model
#### 3.1 Conceptual Data Model
Map out the conceptual data model and explain why you chose that model

#### 3.2 Mapping Out Data Pipelines
List the steps necessary to pipeline the data into the chosen data model

## Extract i94 table from dataframe

In [311]:
%%time
df_i94 = spark.read.parquet('i94_valid.parquet/')
df_i94 = df_i94.filter( df_i94.i94cit.isin(set(meta_i94['I94CIT'].keys())) )
df_i94 = df_i94.filter( df_i94.i94res.isin(set(meta_i94['I94CIT'].keys())) )
df_i94.show()

+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|cicid|i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
| 7228| 2016|    12|   209|   209|    AGA|  20789|      1|     NY|  20793|    35|      2|    1|20161201|    null| null|      A|      D|   null|      M|   1981|01142017|     M|  3680|     JL|4.0247459128E10|00941|     GMT|
| 8754| 2016|     8|   582|   582|    SNA|  20667|      1|     CA|  20674|    23|      2|    1|20160808|    null| null|      G|      O|   null|      M|   1993|01052017|     F|142137|     WN| 1.599861554E10| 1810|      B2|
|29342| 2016|     8|   692|   692|    FTL|  20667|      1|     FL|   null|    42|      2|    1|20160801|     QTO| null|      G|   null|   null|   null|   1974|01312017|     F|  null|     B6|  4.382013285E9| 2850|      B2|
|31314| 2016|     8|   245|   245|    NYC|  20667|      1|     CA|  20672|    49|      1|    1|20160801|     SHG| null|      O|      O|   null|      M|   1967|01312017|     M|  null|     CZ|  4.382073885E9|  399|      B1|
|35230| 2016|     8|   528|   528|    FTL|  20667|      1|     FL|  20673|    27|      2|    1|20160801|     TGG| null|      G|      O|   null|      M|   1989|01312017|     F|  null|     NK|  4.384311385E9|  826|      B2|
|39342| 2016|     8|   689|   689|    NYC|  20667|      1|     NY|  20695|    44|      2|    1|20160830|    null| null|      G|      N|   null|      M|   1972|01312017|     M| 22337|     AA|  4.388807685E9|  950|      B2|
|39688| 2016|     8|   514|   514|    NYC|  20667|      1|     CT|   null|    42|      2|    1|20160801|     KNG| null|      O|   null|   null|   null|   1974|01312017|     M|  null|     B6|  4.393877785E9|  960|      B2|
|42856| 2016|     8|   689|   689|    MIA|  20667|      1|     FL|  20670|    51|      1|    1|20160801|     SPL| null|      G|      O|   null|      M|   1965|01312017|     M|  null|     AA|  4.383060085E9|  930|      B1|
|44384| 2016|    12|   464|   464|    HHW|  20789|      1|     HI|  20796|    57|      2|    1|20161201|    null| null|      G|      O|   null|      M|   1959|02282017|     M|  null|     NZ|1.5291890285E10|   10|      WT|
|44884| 2016|     8|   689|   689|    MIA|  20667|      1|     NV|  20671|    30|      2|    1|20160806|    null| null|      G|      O|   null|      M|   1986|01312017|     F|179208|     AA|  4.383839285E9|  214|      B2|
|47513| 2016|    12|   582|   582|    SNA|  20789|      1|     TX|  20792|    40|      2|    1|20161201|     GDL| null|      G|      Q|   null|      M|   1976|05312017|     F| 16107|     AM|1.5297492085E10|  632|      B2|
|50125| 2016|    12|   209|   209|    SEA|  20789|      1|     OR|  20796|    40|      1|    1|20161201|    null| null|      G|      O|   null|      M|   1976|02282017|     M|  null|     NH|1.5296921985E10|  178|      WB|
|50130| 2016|     8|   245|   245|    LOS|  20667|      1|     CA|   null|    17|      3|    1|20160801|     GUZ| null|      T|   null|   null|   null|   1999|     D/S|     F|  null|     CZ|  4.373392085E9|  327|      F1|
|54132| 2016|     8|   438|   438|    LOS|  20667|      1|     CA|  20692|    47|      2|    1|20160827|    null| null|      G|      O|   null|      M|   1969|10292016|     M|309043|     QF|  4.406497485E9|   11|      WT|
|55278| 2016|     8|   104|   104|    NEW|  20667|      1|     FL|  20677|    29|      2|    1|20160812|    null| null|      T|      O|   null|      M|   1987|00000000|     M|178201|     UA|  4.424692385E9|   56|      WT|
|57694| 2016|    12|   245|   245|    SAI|  20789|      1|     MP|  20795|     4|      2|    1|20161201|     SPN| null|      G|      O|   null|      M|   2012|12122016|     F| 01799|     MU|1.5286108985E10|  763|      CP|
|60751| 2016|     8|   111|   111|    NEW|  20667|      1|     FL|  20688|    13|      2|    1|20160823|    null| null|      G|      O|   null|      M|   2003|10292016|     M|200615|     UA|  4.419662685E9|   56|      WT|
|61775| 2016|     8|   111|   111|    NYC|  20667|      1|     NY|  20687|    41|      2|    1|20160822|    null| null|      G|      O|   null|      M|   1975|10292016|     M|294969|     LX|  4.436400085E9|   16|      WT|
|62932| 2016|     8|   513|   513|    MIA|  20667|      1|     FL|  20672|    65|      2|    1|20160801|     BGN| null|      G|      O|   null|      M|   1951|01312017|     M|  null|     AA|  4.408060385E9| 2719|      B2|
|63385| 2016|    12|   689|   689|    ORL|  20789|      1|     FL|  20951|    10|      2|    1|20161201|     SPL| null|      O|      O|   null|      M|   2006|05312017|     M|  null|     CM|1.5287902885E10|  446|      B2|
+-----+-----+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
only showing top 20 rows

CPU times: user 139 ms, sys: 28.8 ms, total: 168 ms
Wall time: 1.06 s

# Create i94 staging table

In [349]:
df_i94.createOrReplaceTempView("i94")
i94_stage = spark.sql("""
SELECT 
    distinct cicid as cid,
    i94yr,
    i94mon,
    EXTRACT(DAY FROM date_add('1960-01-01',arrdate) ) as i94day,
    i94cit,
    i94res,
    i94port,
    i94addr,
    i94visa,
    biryear,
    gender,
    airline,
    visatype,
    date_add('1960-01-01',arrdate) as arrdate,
    date_add('1960-01-01',depdate) as depdate
FROM i94
order by i94cit asc
""")
i94_stage.printSchema()
i94_stage.show()

root
 |-- cid: integer (nullable = true)
 |-- i94yr: integer (nullable = true)
 |-- i94mon: integer (nullable = true)
 |-- i94day: integer (nullable = true)
 |-- i94cit: integer (nullable = true)
 |-- i94res: integer (nullable = true)
 |-- i94port: string (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- i94visa: integer (nullable = true)
 |-- biryear: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- visatype: string (nullable = true)
 |-- arrdate: date (nullable = true)
 |-- depdate: date (nullable = true)

+-------+-----+------+------+------+------+-------+-------+-------+-------+------+-------+--------+----------+----------+
|    cid|i94yr|i94mon|i94day|i94cit|i94res|i94port|i94addr|i94visa|biryear|gender|airline|visatype|   arrdate|   depdate|
+-------+-----+------+------+------+------+-------+-------+-------+-------+------+-------+--------+----------+----------+
|1003688| 2016|     5|     6|   101|   101|    MIA|     FL|      2|   1988|     F|     TK|      B2|2016-05-06|2016-05-11|
| 945918| 2016|    10|     5|   101|   101|    KAN|     MO|      2|   1952|     F|     ZX|      B2|2016-10-05|2016-10-11|
|3300062| 2016|     4|    18|   101|   101|    NYC|     US|      2|   1956|  null|     AZ|      B2|2016-04-18|2016-05-31|
|4759367| 2016|     3|    24|   101|   101|    NYC|     NY|      2|   1954|     F|     WS|      B2|2016-03-24|2016-03-29|
|2667819| 2016|     6|    14|   101|   101|    BOS|     MA|      2|   1962|     F|     LH|      B2|2016-06-14|2016-06-28|
|4822294| 2016|    12|    22|   101|   101|    PHI|     PA|      2|   1986|     M|     AA|      B2|2016-12-22|2017-01-07|
|5205859| 2016|     6|    26|   101|   101|    NEW|     CA|      2|   1942|     F|     UA|      B2|2016-06-26|2016-08-22|
|3649907| 2016|     4|    20|   101|   101|    LVG|     NY|      2|   1949|     M|     AZ|      B2|2016-04-20|2016-04-28|
| 856619| 2016|     6|     5|   101|   101|    ATL|     GA|      1|   1987|  null|     DL|      B1|2016-06-05|2016-07-02|
|3099024| 2016|     9|    14|   101|   101|    NYC|     NY|      2|   1969|     M|     AB|      B2|2016-09-14|2016-12-31|
|5154203| 2016|     5|    26|   101|   101|    NYC|     NJ|      2|   1993|     F|     LH|      B2|2016-05-26|2016-06-01|
|1291390| 2016|    11|     7|   101|   101|    NYC|     US|      2|   1941|     F|     AZ|      B2|2016-11-07|2017-01-09|
|1657291| 2016|     5|     9|   101|   101|    NYC|     PA|      2|   1950|  null|     AZ|      B2|2016-05-09|2016-07-08|
|4160266| 2016|     5|    21|   101|   101|    BOS|     MA|      2|   1979|     F|     TK|      B2|2016-05-21|2016-06-12|
|2289967| 2016|     1|    12|   101|   101|    NYC|     NE|      3|   1991|     F|     TK|      F1|2016-01-12|      null|
|4976419| 2016|    10|    24|   101|   101|    BOS|     MA|      2|   1988|     M|     TK|      B2|2016-10-24|2017-04-15|
|3368896| 2016|     9|    15|   101|   101|    BOS|     MA|      2|   1963|     M|     AZ|      B2|2016-09-15|2016-10-01|
| 899873| 2016|     1|     5|   101|   101|    NYC|     CT|      2|   1969|     F|     AB|      B2|2016-01-05|2016-04-04|
|2987129| 2016|     2|    17|   101|   101|    SFR|     CA|      2|   1951|     M|     VS|      B2|2016-02-17|2016-03-17|
|3120411| 2016|     5|    16|   101|   101|    NYC|     NY|      2|   1968|     M|     OS|      B2|2016-05-16|2016-05-27|
+-------+-----+------+------+------+------+-------+-------+-------+-------+------+-------+--------+----------+----------+
only showing top 20 rows

# Create airport dim table

In [344]:
meta_i94.keys()

dict_keys(['I94CIT', 'I94PORT', 'I94MODE', 'I94ADDR'])

In [404]:
i94port = meta_i94['I94PORT']
pddf = pd.DataFrame(i94port.items(), columns=["id", "airport"])
df_i94port = spark.createDataFrame(pddf)
df_i94port.printSchema()
df_i94port.show()

root
 |-- id: string (nullable = true)
 |-- airport: string (nullable = true)

+---+--------------------+
| id|             airport|
+---+--------------------+
|ALC|           ALCAN, AK|
|ANC|       ANCHORAGE, AK|
|BAR|BAKER AAF - BAKER...|
|DAC|   DALTONS CACHE, AK|
|PIZ|DEW STATION PT LA...|
|DTH|    DUTCH HARBOR, AK|
|EGL|           EAGLE, AK|
|FRB|       FAIRBANKS, AK|
|HOM|           HOMER, AK|
|HYD|           HYDER, AK|
|JUN|          JUNEAU, AK|
|5KE|       KETCHIKAN, AK|
|KET|       KETCHIKAN, AK|
|MOS|MOSES POINT INTER...|
|NIK|         NIKISKI, AK|
|NOM|             NOM, AK|
|PKC|     POKER CREEK, AK|
|ORI|  PORT LIONS SPB, AK|
|SKA|         SKAGWAY, AK|
|SNP| ST. PAUL ISLAND, AK|
+---+--------------------+
only showing top 20 rows

In [405]:
df_i94port.write.mode('overwrite').parquet(path='df_i94port.parquet')

# Create Visa table for 1,2,3

In [429]:
visa = meta_i94['I94VISA']
print(visa)

{1: 'BUSINESS', 2: 'PLEASURE', 3: 'STUDENT'}

In [430]:
pddf = pd.DataFrame(visa.items(), columns=["id", "visa_type"])
df_i94visa = spark.createDataFrame(pddf)
df_i94visa.printSchema()
df_i94visa.show()

root
 |-- id: long (nullable = true)
 |-- visa_type: string (nullable = true)

+---+---------+
| id|visa_type|
+---+---------+
|  1| BUSINESS|
|  2| PLEASURE|
|  3|  STUDENT|
+---+---------+

In [431]:
df_i94visa.write.mode('overwrite').parquet(path='df_i94visa.parquet')

# Create cit_res dim table

In [406]:
cit = meta_i94['I94CIT']
pddf = pd.DataFrame(cit.items(), columns=["id", "citres"])
df_i94cit = spark.createDataFrame(pddf)
df_i94cit.printSchema()
df_i94cit.show()

root
 |-- id: long (nullable = true)
 |-- citres: string (nullable = true)

+---+--------------------+
| id|              citres|
+---+--------------------+
|582|MEXICO AIR SEA, A...|
|236|         AFGHANISTAN|
|101|             ALBANIA|
|316|             ALGERIA|
|102|             ANDORRA|
|324|              ANGOLA|
|529|            ANGUILLA|
|518|     ANTIGUA-BARBUDA|
|687|           ARGENTINA|
|151|             ARMENIA|
|532|               ARUBA|
|438|           AUSTRALIA|
|103|             AUSTRIA|
|152|          AZERBAIJAN|
|512|             BAHAMAS|
|298|             BAHRAIN|
|274|          BANGLADESH|
|513|            BARBADOS|
|104|             BELGIUM|
|581|              BELIZE|
+---+--------------------+
only showing top 20 rows

In [407]:
df_i94cit.write.mode('overwrite').parquet(path='df_i94cit.parquet')

# Create addr dim table

In [408]:
meta_i94.keys()
addr = meta_i94['I94ADDR']
pddf = pd.DataFrame(addr.items(), columns=["st", "state"])
df_i94addr = spark.createDataFrame(pddf)
df_i94addr.printSchema()
df_i94addr.show()

da_1 = df_i94addr.filter( df_i94addr.st == 'CA')
da_1.show()

root
 |-- st: string (nullable = true)
 |-- state: string (nullable = true)

+---+-----------------+
| st|            state|
+---+-----------------+
| AL|          ALABAMA|
| AK|           ALASKA|
| AZ|          ARIZONA|
| AR|         ARKANSAS|
| CA|       CALIFORNIA|
| CO|         COLORADO|
| CT|      CONNECTICUT|
| DE|         DELAWARE|
| DC|DIST. OF COLUMBIA|
| FL|          FLORIDA|
| GA|          GEORGIA|
| GU|             GUAM|
| HI|           HAWAII|
| ID|            IDAHO|
| IL|         ILLINOIS|
| IN|          INDIANA|
| IA|             IOWA|
| KS|           KANSAS|
| KY|         KENTUCKY|
| LA|        LOUISIANA|
+---+-----------------+
only showing top 20 rows

+---+----------+
| st|     state|
+---+----------+
| CA|CALIFORNIA|
+---+----------+

In [409]:
df_i94addr.write.mode('overwrite').parquet(path='df_i94addr.parquet')

# Create demopgrahics dim table

In [395]:
# df_demo_1 = df_degh.filter(df_degh["State_Code"] == "ID")
df_demo_1 = df_degh
df_demo_1.printSchema()
df_demo_1.show()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: integer (nullable = true)
 |-- Female_Population: integer (nullable = true)
 |-- Total_Population: integer (nullable = true)
 |-- Number_Veterans: integer (nullable = true)
 |-- Foregin_born: integer (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- State_Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: integer (nullable = true)

+----------------+--------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+------+
|            City|         State|Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born|Average_Household|State_Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|           1562|       30908|              2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|           4147|       32935|             2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|           4819|        8229|             2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|           5821|       33878|             3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|           5829|       86253|             2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|           6634|        7517|              2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|           4815|        8355|             3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|           3800|       37038|             3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|           5783|        3269|             2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|           5204|       16315|             2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|           4187|       13234|             2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|           4187|       13234|             2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|          61995|      205339|             2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|          23978|       40270|             2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|          23978|       40270|             2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|           4312|       15365|             2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|          17728|       28187|             2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|           4921|       68427|             3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|           3736|       25000|             2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|           4426|       52281|             2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+----------+--------------------+------+
only showing top 20 rows

In [396]:
# https://databricks.com/blog/2016/02/09/reshaping-data-with-pivot-in-apache-spark.html
df_pi = df_demo_1.groupby("State_Code","Median_Age","Male_Population","Female_Population","Total_Population","Number_Veterans","Foregin_born","Average_Household").pivot("Race").sum("Count")
df_pi.printSchema()
df_pi.show()

root
 |-- State_Code: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: integer (nullable = true)
 |-- Female_Population: integer (nullable = true)
 |-- Total_Population: integer (nullable = true)
 |-- Number_Veterans: integer (nullable = true)
 |-- Foregin_born: integer (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- American Indian and Alaska Native: long (nullable = true)
 |-- Asian: long (nullable = true)
 |-- Black or African-American: long (nullable = true)
 |-- Hispanic or Latino: long (nullable = true)
 |-- White: long (nullable = true)

+----------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+---------------------------------+-----+-------------------------+------------------+------+
|State_Code|Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born|Average_Household|American Indian and Alaska Native|Asian|Black or African-American|Hispanic or Latino| White|
+----------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+---------------------------------+-----+-------------------------+------------------+------+
|        GA|      26.5|          57415|            65148|          122563|           3953|       12868|             2.44|                              593| 6635|                    34583|             13159| 79931|
|        NC|      37.9|          42100|            46407|           88507|           4973|        6630|             2.18|                              496| 1939|                     9078|              4146| 77979|
|        CA|      39.7|          36226|            40221|           76447|           2898|       16552|             2.77|                             1068| 9182|                     5717|             30787| 46704|
|        SD|      39.5|          36122|            37446|           73568|           7429|        2375|             2.31|                             9159| 2170|                     2217|              2971| 63983|
|        KS|      38.2|          93355|            93156|          186511|          10461|       21407|             2.41|                             1264|17123|                    10685|             10104|161153|
|        CA|      30.2|          34186|            32173|           66359|            416|       28696|             4.57|                             null| null|                     5060|             60895| 30591|
|        PR|      41.4|         155408|           186829|          342237|           null|        null|             null|                             4031| 2452|                     null|            335559|  null|
|        WA|      30.7|          41286|            43857|           85143|           4703|        8713|             2.44|                             2056| 8010|                     2325|              6966| 74183|
|        CA|      37.0|          50405|            54909|          105314|           4048|       32435|             2.52|                             1639|14636|                     4729|             22089| 79582|
|        TX|      42.1|          43889|            44240|           88129|           4377|       31169|             2.95|                             null|33469|                     8993|              7835| 44555|
|        TX|      32.8|          49669|            50744|          100413|           8412|        7859|              2.5|                              548| 1658|                     6079|             42494| 86655|
|        IL|      45.9|          37627|            39369|           76996|           3027|       14630|             2.38|                             null| 9975|                     1222|              2742| 66285|
|        CO|      41.0|          54870|            60165|          115035|           8930|        4921|             2.49|                             2370| 2922|                     2985|             16419|107639|
|        CT|      31.0|          58042|            65972|          124014|           3130|       28467|             2.59|                             2451| 4105|                    49939|             55959| 46529|
|        CA|      39.3|          50966|            52558|          103524|           2730|       34957|             2.64|                              682|30573|                     2880|             23151| 62656|
|        CA|      45.2|          34076|            31456|           65532|           3970|        8109|             2.64|                             null| 4296|                      251|             10421| 58849|
|        OK|      32.5|          45191|            44899|           90090|           5006|        5585|             2.68|                             8051| 5349|                     4987|              6187| 78979|
|        IL|      36.3|          71076|            78270|          149346|           8894|       18323|             2.52|                             2301| 5500|                    33122|             28923|107148|
|        NY|      33.1|         124537|           133529|          258066|          11231|       24630|             2.27|                             4406|14518|                   101254|             29656|130078|
|        MI|      31.4|          54333|            59777|          114110|           5327|        8371|             2.39|                             5254| 4168|                    34196|             14245| 75688|
+----------+----------+---------------+-----------------+----------------+---------------+------------+-----------------+---------------------------------+-----+-------------------------+------------------+------+
only showing top 20 rows

In [411]:
df_demo = df_pi.groupby('State_Code').agg(F.avg('Median_Age').alias('Median_Age'), \
                                         F.sum('Male_Population').alias('Male_Population'), \
                                         F.sum('Female_Population').alias('Female_Population'), \
                                         F.sum('Total_Population').alias('Total_Population'), \
                                         F.sum('Number_Veterans').alias('Number_Veterans'), 
                                         F.sum('Foregin_born').alias('Foregin_born'), \
                                         F.avg('Average_Household').alias('Average_Household'), \
                                         F.sum('American Indian and Alaska Native').alias('American_Indian_Alaska_Native'), \
                                         F.sum('Asian').alias('Asian'), \
                                         F.sum('Black or African-American').alias('Black_African-American'), \
                                         F.sum('Hispanic or Latino').alias('Hispanic_Latino'), \
                                         F.sum('White').alias('White') \
                                        )
df_demo.printSchema()
df_demo.show()

root
 |-- State_Code: string (nullable = true)
 |-- Median_Age: double (nullable = true)
 |-- Male_Population: long (nullable = true)
 |-- Female_Population: long (nullable = true)
 |-- Total_Population: long (nullable = true)
 |-- Number_Veterans: long (nullable = true)
 |-- Foregin_born: long (nullable = true)
 |-- Average_Household: double (nullable = true)
 |-- American_Indian_Alaska_Native: long (nullable = true)
 |-- Asian: long (nullable = true)
 |-- Black_African-American: long (nullable = true)
 |-- Hispanic_Latino: long (nullable = true)
 |-- White: long (nullable = true)

+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+-------+----------------------+---------------+--------+
|State_Code|        Median_Age|Male_Population|Female_Population|Total_Population|Number_Veterans|Foregin_born| Average_Household|American_Indian_Alaska_Native|  Asian|Black_African-American|Hispanic_Latino|   White|
+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+-------+----------------------+---------------+--------+
|        SC| 34.17999999999999|         260944|           272713|          533657|          33463|       27744|             2.472|                         3705|  13355|                175064|          29863|  343764|
|        AZ|           35.0375|        2227455|          2272087|         4499542|         264505|      682313|          2.774375|                       129708| 229183|                296222|        1508157| 3591611|
|        LA|            34.625|         626998|           673597|         1300595|          69771|       83419|             2.465|                         8263|  38739|                602377|          87133|  654578|
|        MN| 35.61818181818182|         702157|           720246|         1422403|          64894|      215873|2.5009090909090914|                        25242| 151544|                216731|         103229| 1050239|
|        NJ| 35.12499999999999|         705736|           723172|         1428908|          30195|      477028| 2.965833333333333|                        11350| 116844|                452202|         600437|  615083|
|        DC|              33.8|         319705|           352523|          672228|          25963|       95117|              2.24|                         6130|  35072|                328786|          71129|  285402|
|        OR|            36.125|         707443|           729066|         1436509|          78948|      185753|2.5387499999999994|                        38597| 117279|                 72150|         201498| 1235819|
|        VA| 34.42857142857143|        1160474|          1203148|         2363622|         229766|      269254| 2.584285714285714|                        26160| 167784|                771569|         216760| 1428158|
|        RI|              37.9|         202816|           210746|          413562|          18607|       87365|2.5225000000000004|                         6369|  24245|                 55556|         109226|  287304|
|        KY|             35.95|         452483|           477394|          929877|          56025|       66488|             2.395|                         7772|  32667|                202749|          50478|  705790|
|        NH|              37.8|          97771|           100427|          198198|          11005|       27199|2.4299999999999997|                         1213|  13989|                 11043|          22473|  174085|
|        MI|37.043749999999996|        1056446|          1147014|         2203460|          99481|      249772|2.5075000000000003|                        27962| 125172|                853877|         149932| 1214721|
|        NV|36.088888888888896|        1118645|          1122099|         2240744|         152047|      481337|2.8133333333333335|                        35390| 254593|                269791|         689798| 1531724|
|        WI| 33.51111111111111|         688803|           724342|         1413145|          61134|      124687| 2.417777777777778|                        24720|  73982|                316896|         202117|  974433|
|        ID| 34.76666666666667|         199103|           199780|          398883|          26380|       28126|2.7100000000000004|                         6705|  13985|                  7822|          48142|  370314|
|        CA|  36.1824817518248|       12278281|         12544179|        24822460|         928270|     7448257| 3.100948905109489|                       401386|4543730|               2047009|        9856464|14905129|
|        CT|           34.9625|         432157|           453424|          885581|          24953|      225866|            2.6625|                        10729|  48311|                231822|         309992|  505674|
|        NE|             33.25|         357333|           363900|          721233|          39197|       71221|             2.435|                        10599|  34243|                 80668|          83812|  600094|
|        MT|              35.5|          87707|            93587|          181294|          13854|        5977|             2.275|                         9684|   4165|                  3349|          10000|  169026|
|        NC|33.785714285714285|        1466105|          1594094|         3060199|         166146|      379327|             2.475|                        35209| 178740|               1029446|         354409| 1790136|
+----------+------------------+---------------+-----------------+----------------+---------------+------------+------------------+-----------------------------+-------+----------------------+---------------+--------+
only showing top 20 rows

In [412]:
df_demo.write.mode('overwrite').parquet(path='df_demo.parquet')

### Step 4: Run Pipelines to Model the Data 
#### 4.1 Create the data model
Build the data pipelines to create the data model.

# Build fact table

#### 4.2 Data Quality Checks
Explain the data quality checks you'll perform to ensure the pipeline ran as expected. These could include:
 * Integrity constraints on the relational database (e.g., unique key, data type, etc.)
 * Unit tests for the scripts to ensure they are doing the right thing
 * Source/Count checks to ensure completeness
 
Run Quality Checks

In [ ]:
# Perform quality checks here

#### 4.3 Data dictionary 
Create a data dictionary for your data model. For each field, provide a brief description of what the data is and where it came from. You can include the data dictionary in the notebook or in a separate file.

#### Step 5: Complete Project Write Up
* Clearly state the rationale for the choice of tools and technologies for the project.
* Propose how often the data should be updated and why.
* Write a description of how you would approach the problem differently under the following scenarios:
 * The data was increased by 100x.
 * The data populates a dashboard that must be updated on a daily basis by 7am every day.
 * The database needed to be accessed by 100+ people.

# Expriment here

In [160]:
print(sections_dict['I94CIT'])

{'582': 'MEXICO AIR SEA, AND NOT REPORTED (I-94, NO LAND ARRIVALS)', '236': 'AFGHANISTAN', '101': 'ALBANIA', '316': 'ALGERIA', '102': 'ANDORRA', '324': 'ANGOLA', '529': 'ANGUILLA', '518': 'ANTIGUA-BARBUDA', '687': 'ARGENTINA', '151': 'ARMENIA', '532': 'ARUBA', '438': 'AUSTRALIA', '103': 'AUSTRIA', '152': 'AZERBAIJAN', '512': 'BAHAMAS', '298': 'BAHRAIN', '274': 'BANGLADESH', '513': 'BARBADOS', '104': 'BELGIUM', '581': 'BELIZE', '386': 'BENIN', '509': 'BERMUDA', '153': 'BELARUS', '242': 'BHUTAN', '688': 'BOLIVIA', '717': 'BONAIRE, ST EUSTATIUS, SABA', '164': 'BOSNIA-HERZEGOVINA', '336': 'BOTSWANA', '689': 'BRAZIL', '525': 'BRITISH VIRGIN ISLANDS', '217': 'BRUNEI', '105': 'BULGARIA', '393': 'BURKINA FASO', '243': 'BURMA', '375': 'BURUNDI', '310': 'CAMEROON', '326': 'CAPE VERDE', '526': 'CAYMAN ISLANDS', '383': 'CENTRAL AFRICAN REPUBLIC', '384': 'CHAD', '690': 'CHILE', '245': 'CHINA, PRC', '721': 'CURACAO', '270': 'CHRISTMAS ISLAND', '271': 'COCOS ISLANDS', '691': 'COLOMBIA', '317': 'COMOROS', '385': 'CONGO', '467': 'COOK ISLANDS', '575': 'COSTA RICA', '165': 'CROATIA', '584': 'CUBA', '218': 'CYPRUS', '140': 'CZECH REPUBLIC', '723': 'FAROE ISLANDS (PART OF DENMARK)', '108': 'DENMARK', '322': 'DJIBOUTI', '519': 'DOMINICA', '585': 'DOMINICAN REPUBLIC', '240': 'EAST TIMOR', '692': 'ECUADOR', '368': 'EGYPT', '576': 'EL SALVADOR', '399': 'EQUATORIAL GUINEA', '372': 'ERITREA', '109': 'ESTONIA', '369': 'ETHIOPIA', '604': 'FALKLAND ISLANDS', '413': 'FIJI', '110': 'FINLAND', '111': 'FRANCE', '601': 'FRENCH GUIANA', '411': 'FRENCH POLYNESIA', '387': 'GABON', '338': 'GAMBIA', '758': 'GAZA STRIP', '154': 'GEORGIA', '112': 'GERMANY', '339': 'GHANA', '143': 'GIBRALTAR', '113': 'GREECE', '520': 'GRENADA', '507': 'GUADELOUPE', '577': 'GUATEMALA', '382': 'GUINEA', '327': 'GUINEA-BISSAU', '603': 'GUYANA', '586': 'HAITI', '726': 'HEARD AND MCDONALD IS.', '149': 'HOLY SEE/VATICAN', '528': 'HONDURAS', '206': 'HONG KONG', '114': 'HUNGARY', '115': 'ICELAND', '213': 'INDIA', '759': 'INDIAN OCEAN AREAS (FRENCH)', '729': 'INDIAN OCEAN TERRITORY', '204': 'INDONESIA', '249': 'IRAN', '250': 'IRAQ', '116': 'IRELAND', '251': 'ISRAEL', '117': 'ITALY', '388': 'IVORY COAST', '514': 'JAMAICA', '209': 'JAPAN', '253': 'JORDAN', '201': 'KAMPUCHEA', '155': 'KAZAKHSTAN', '340': 'KENYA', '414': 'KIRIBATI', '732': 'KOSOVO', '272': 'KUWAIT', '156': 'KYRGYZSTAN', '203': 'LAOS', '118': 'LATVIA', '255': 'LEBANON', '335': 'LESOTHO', '370': 'LIBERIA', '381': 'LIBYA', '119': 'LIECHTENSTEIN', '120': 'LITHUANIA', '121': 'LUXEMBOURG', '214': 'MACAU', '167': 'MACEDONIA', '320': 'MADAGASCAR', '345': 'MALAWI', '273': 'MALAYSIA', '220': 'MALDIVES', '392': 'MALI', '145': 'MALTA', '472': 'MARSHALL ISLANDS', '511': 'MARTINIQUE', '389': 'MAURITANIA', '342': 'MAURITIUS', '760': 'MAYOTTE (AFRICA - FRENCH)', '473': 'MICRONESIA, FED. STATES OF', '157': 'MOLDOVA', '122': 'MONACO', '299': 'MONGOLIA', '735': 'MONTENEGRO', '521': 'MONTSERRAT', '332': 'MOROCCO', '329': 'MOZAMBIQUE', '371': 'NAMIBIA', '440': 'NAURU', '257': 'NEPAL', '123': 'NETHERLANDS', '508': 'NETHERLANDS ANTILLES', '409': 'NEW CALEDONIA', '464': 'NEW ZEALAND', '579': 'NICARAGUA', '390': 'NIGER', '343': 'NIGERIA', '470': 'NIUE', '275': 'NORTH KOREA', '124': 'NORWAY', '256': 'OMAN', '258': 'PAKISTAN', '474': 'PALAU', '743': 'PALESTINE', '504': 'PANAMA', '441': 'PAPUA NEW GUINEA', '693': 'PARAGUAY', '694': 'PERU', '260': 'PHILIPPINES', '416': 'PITCAIRN ISLANDS', '107': 'POLAND', '126': 'PORTUGAL', '297': 'QATAR', '748': 'REPUBLIC OF SOUTH SUDAN', '321': 'REUNION', '127': 'ROMANIA', '158': 'RUSSIA', '376': 'RWANDA', '128': 'SAN MARINO', '330': 'SAO TOME AND PRINCIPE', '261': 'SAUDI ARABIA', '391': 'SENEGAL', '142': 'SERBIA AND MONTENEGRO', '745': 'SERBIA', '347': 'SEYCHELLES', '348': 'SIERRA LEONE', '207': 'SINGAPORE', '141': 'SLOVAKIA', '166': 'SLOVENIA', '412': 'SOLOMON ISLANDS', '397': 'SOMALIA', '373': 'SOUTH AFRICA', '276': 'SOUTH KOREA', '129': 'SPAIN', '244': 'SRI LANKA', '346': 'ST. HELENA', '522': 'ST. KITTS-NEVIS', '523': 'ST. LUCIA', '502': 'ST. PIERRE AND MIQUELON', '524': 'ST. VINCENT-GRENADINES', '716': 'SAINT BARTHELEMY', '736': 'SAINT MARTIN', '749': 'SAINT MAARTEN', '350': 'SUDAN', '602': 'SURINAME', '351': 'SWAZILAND', '130': 'SWEDEN', '131': 'SWITZERLAND', '262': 'SYRIA', '268': 'TAIWAN', '159': 'TAJIKISTAN', '353': 'TANZANIA', '263': 'THAILAND', '304': 'TOGO', '417': 'TONGA', '516': 'TRINIDAD AND TOBAGO', '323': 'TUNISIA', '264': 'TURKEY', '161': 'TURKMENISTAN', '527': 'TURKS AND CAICOS ISLANDS', '420': 'TUVALU', '352': 'UGANDA', '162': 'UKRAINE', '296': 'UNITED ARAB EMIRATES', '135': 'UNITED KINGDOM', '695': 'URUGUAY', '163': 'UZBEKISTAN', '410': 'VANUATU', '696': 'VENEZUELA', '266': 'VIETNAM', '469': 'WALLIS AND FUTUNA ISLANDS', '757': 'WEST INDIES (FRENCH)', '333': 'WESTERN SAHARA', '465': 'WESTERN SAMOA', '216': 'YEMEN', '139': 'YUGOSLAVIA', '301': 'ZAIRE', '344': 'ZAMBIA', '315': 'ZIMBABWE'}

In [161]:
print(sections_dict['I94MODE'])

{'1': 'AIR', '2': 'SEA', '3': 'LAND'}

In [162]:
print(meta_i94['I94MODE'])

{1: 'AIR', 2: 'SEA', 3: 'LAND'}

In [163]:
print(meta_i94['I94PORT'])

{'ALC': 'ALCAN, AK', 'ANC': 'ANCHORAGE, AK', 'BAR': 'BAKER AAF - BAKER ISLAND, AK', 'DAC': 'DALTONS CACHE, AK', 'PIZ': 'DEW STATION PT LAY DEW, AK', 'DTH': 'DUTCH HARBOR, AK', 'EGL': 'EAGLE, AK', 'FRB': 'FAIRBANKS, AK', 'HOM': 'HOMER, AK', 'HYD': 'HYDER, AK', 'JUN': 'JUNEAU, AK', '5KE': 'KETCHIKAN, AK', 'KET': 'KETCHIKAN, AK', 'MOS': 'MOSES POINT INTERMEDIATE, AK', 'NIK': 'NIKISKI, AK', 'NOM': 'NOM, AK', 'PKC': 'POKER CREEK, AK', 'ORI': 'PORT LIONS SPB, AK', 'SKA': 'SKAGWAY, AK', 'SNP': 'ST. PAUL ISLAND, AK', 'TKI': 'TOKEEN, AK', 'WRA': 'WRANGELL, AK', 'HSV': 'MADISON COUNTY - HUNTSVILLE, AL', 'MOB': 'MOBILE, AL', 'LIA': 'LITTLE ROCK, AR (BPS)', 'ROG': 'ROGERS ARPT, AR', 'DOU': 'DOUGLAS, AZ', 'LUK': 'LUKEVILLE, AZ', 'MAP': 'MARIPOSA AZ', 'NAC': 'NACO, AZ', 'NOG': 'NOGALES, AZ', 'PHO': 'PHOENIX, AZ', 'POR': 'PORTAL, AZ', 'SLU': 'SAN LUIS, AZ', 'SAS': 'SASABE, AZ', 'TUC': 'TUCSON, AZ', 'YUI': 'YUMA, AZ', 'AND': 'ANDRADE, CA', 'BUR': 'BURBANK, CA', 'CAL': 'CALEXICO, CA', 'CAO': 'CAMPO, CA', 'FRE': 'FRESNO, CA', 'ICP': 'IMPERIAL COUNTY, CA', 'LNB': 'LONG BEACH, CA', 'LOS': 'LOS ANGELES, CA', 'BFL': 'MEADOWS FIELD - BAKERSFIELD, CA', 'OAK': 'OAKLAND, CA', 'ONT': 'ONTARIO, CA', 'OTM': 'OTAY MESA, CA', 'BLT': 'PACIFIC, HWY. STATION, CA', 'PSP': 'PALM SPRINGS, CA', 'SAC': 'SACRAMENTO, CA', 'SLS': 'SALINAS, CA (BPS)', 'SDP': 'SAN DIEGO, CA', 'SFR': 'SAN FRANCISCO, CA', 'SNJ': 'SAN JOSE, CA', 'SLO': 'SAN LUIS OBISPO, CA', 'SLI': 'SAN LUIS OBISPO, CA (BPS)', 'SPC': 'SAN PEDRO, CA', 'SYS': 'SAN YSIDRO, CA', 'SAA': 'SANTA ANA, CA', 'STO': 'STOCKTON, CA (BPS)', 'TEC': 'TECATE, CA', 'TRV': 'TRAVIS-AFB, CA', 'APA': 'ARAPAHOE COUNTY, CO', 'ASE': 'ASPEN, CO #ARPT', 'COS': 'COLORADO SPRINGS, CO', 'DEN': 'DENVER, CO', 'DRO': 'LA PLATA - DURANGO, CO', 'BDL': 'BRADLEY INTERNATIONAL, CT', 'BGC': 'BRIDGEPORT, CT', 'GRT': 'GROTON, CT', 'HAR': 'HARTFORD, CT', 'NWH': 'NEW HAVEN, CT', 'NWL': 'NEW LONDON, CT', 'TST': 'NEWINGTON DATA CENTER TEST, CT', 'WAS': 'WASHINGTON DC', 'DOV': 'DOVER AFB, DE', 'DVD': 'DOVER-AFB, DE', 'WLL': 'WILMINGTON, DE', 'BOC': 'BOCAGRANDE, FL', 'SRQ': 'BRADENTON - SARASOTA, FL', 'CAN': 'CAPE CANAVERAL, FL', 'DAB': 'DAYTONA BEACH INTERNATIONAL, FL', 'FRN': 'FERNANDINA, FL', 'FTL': 'FORT LAUDERDALE, FL', 'FMY': 'FORT MYERS, FL', 'FPF': 'FORT PIERCE, FL', 'HUR': 'HURLBURT FIELD, FL', 'GNV': 'J R ALISON MUNI - GAINESVILLE, FL', 'JAC': 'JACKSONVILLE, FL', 'KEY': 'KEY WEST, FL', 'LEE': 'LEESBURG MUNICIPAL AIRPORT, FL', 'MLB': 'MELBOURNE, FL', 'MIA': 'MIAMI, FL', 'APF': 'NAPLES, FL #ARPT', 'OPF': 'OPA LOCKA, FL', 'ORL': 'ORLANDO, FL', 'PAN': 'PANAMA CITY, FL', 'PEN': 'PENSACOLA, FL', 'PCF': 'PORT CANAVERAL, FL', 'PEV': 'PORT EVERGLADES, FL', 'PSJ': 'PORT ST JOE, FL', 'SFB': 'SANFORD, FL', 'SGJ': 'ST AUGUSTINE ARPT, FL', 'SAU': 'ST AUGUSTINE, FL', 'FPR': 'ST LUCIE COUNTY, FL', 'SPE': 'ST PETERSBURG, FL', 'TAM': 'TAMPA, FL', 'WPB': 'WEST PALM BEACH, FL', 'ATL': 'ATLANTA, GA', 'BRU': 'BRUNSWICK, GA', 'AGS': 'BUSH FIELD - AUGUSTA, GA', 'SAV': 'SAVANNAH, GA', 'AGA': 'AGANA, GU', 'HHW': 'HONOLULU, HI', 'OGG': 'KAHULUI - MAUI, HI', 'KOA': 'KEAHOLE-KONA, HI', 'LIH': 'LIHUE, HI', 'CID': 'CEDAR RAPIDS/IOWA CITY, IA', 'DSM': 'DES MOINES, IA', 'BOI': 'AIR TERM. (GOWEN FLD) BOISE, ID', 'EPI': 'EASTPORT, ID', 'IDA': 'FANNING FIELD - IDAHO FALLS, ID', 'PTL': 'PORTHILL, ID', 'SPI': 'CAPITAL - SPRINGFIELD, IL', 'CHI': 'CHICAGO, IL', 'DPA': 'DUPAGE COUNTY, IL', 'PIA': 'GREATER PEORIA, IL', 'RFD': 'GREATER ROCKFORD, IL', 'UGN': 'MEMORIAL - WAUKEGAN, IL', 'GAR': 'GARY, IN', 'HMM': 'HAMMOND, IN', 'INP': 'INDIANAPOLIS, IN', 'MRL': 'MERRILLVILLE, IN', 'SBN': 'SOUTH BEND, IN', 'ICT': 'MID-CONTINENT - WITCHITA, KS', 'LEX': 'BLUE GRASS - LEXINGTON, KY', 'LOU': 'LOUISVILLE, KY', 'BTN': 'BATON ROUGE, LA', 'LKC': 'LAKE CHARLES, LA', 'LAK': 'LAKE CHARLES, LA (BPS)', 'MLU': 'MONROE, LA', 'MGC': 'MORGAN CITY, LA', 'NOL': 'NEW ORLEANS, LA', 'BOS': 'BOSTON, MA', 'GLO': 'GLOUCESTER, MA', 'BED': 'HANSCOM FIELD - BEDFORD, MA', 'LYN': 'LYNDEN, WA', 'ADW': 'ANDREWS AFB, MD', 'BAL': 'BALTIMORE, MD', 'MKG': 'MUSKEGON, MD', 'PAX': 'PATUXENT RIVER, MD', 'BGM': 'BANGOR, ME', 'BOO': 'BOOTHBAY HARBOR, ME', 'BWM': 'BRIDGEWATER, ME', 'BCK': 'BUCKPORT, ME', 'CLS': 'CALAIS, ME', 'CRB': 'CARIBOU, ME', 'COB': 'COBURN GORE, ME', 'EST': 'EASTCOURT, ME', 'EPT': 'EASTPORT MUNICIPAL, ME', 'EPM': 'EASTPORT, ME', 'FOR': 'FOREST CITY, ME', 'FTF': 'FORT FAIRFIELD, ME', 'FTK': 'FORT KENT, ME', 'HML': 'HAMIIN, ME', 'HTM': 'HOULTON, ME', 'JKM': 'JACKMAN, ME', 'KAL': 'KALISPEL, MT', 'LIM': 'LIMESTONE, ME', 'LUB': 'LUBEC, ME', 'MAD': 'MADAWASKA, ME', 'POM': 'PORTLAND, ME', 'RGM': 'RANGELEY, ME (BPS)', 'SBR': 'SOUTH BREWER, ME', 'SRL': 'ST AURELIE, ME', 'SPA': 'ST PAMPILE, ME', 'VNB': 'VAN BUREN, ME', 'VCB': 'VANCEBORO, ME', 'AGN': 'ALGONAC, MI', 'ALP': 'ALPENA, MI', 'BCY': 'BAY CITY, MI', 'DET': 'DETROIT, MI', 'GRP': 'GRAND RAPIDS, MI', 'GRO': 'GROSSE ISLE, MI', 'ISL': 'ISLE ROYALE, MI', 'MRC': 'MARINE CITY, MI', 'MRY': 'MARYSVILLE, MI', 'PTK': 'OAKLAND COUNTY - PONTIAC, MI', 'PHU': 'PORT HURON, MI', 'RBT': 'ROBERTS LANDING, MI', 'SAG': 'SAGINAW, MI', 'SSM': 'SAULT STE. MARIE, MI', 'SCL': 'ST CLAIR, MI', 'YIP': 'WILLOW RUN - YPSILANTI, MI', 'BAU': 'BAUDETTE, MN', 'CAR': 'CARIBOU MUNICIPAL AIRPORT, MN', 'GTF': 'COLLAPSED INTO INT, MN', 'INL': 'COLLAPSED INTO INT, MN', 'CRA': 'CRANE LAKE, MN', 'MIC': 'CRYSTAL MUNICIPAL AIRPORT, MN', 'DUL': 'DULUTH, MN', 'ELY': 'ELY, MN', 'GPM': 'GRAND PORTAGE, MN', 'SVC': 'GRANT COUNTY - SILVER CITY, MN', 'INT': "INT''L FALLS, MN", 'LAN': 'LANCASTER, MN', 'MSP': 'MINN./ST PAUL, MN', 'LIN': 'NORTHERN SVC CENTER, MN', 'NOY': 'NOYES, MN', 'PIN': 'PINE CREEK, MN', '48Y': 'PINECREEK BORDER ARPT, MN', 'RAN': 'RAINER, MN', 'RST': 'ROCHESTER, MN', 'ROS': 'ROSEAU, MN', 'SPM': 'ST PAUL, MN', 'WSB': 'WARROAD INTL, SPB, MN', 'WAR': 'WARROAD, MN', 'KAN': 'KANSAS CITY, MO', 'SGF': 'SPRINGFIELD-BRANSON, MO', 'STL': 'ST LOUIS, MO', 'WHI': 'WHITETAIL, MT', 'WHM': 'WILD HORSE, MT', 'GPT': 'BILOXI REGIONAL, MS', 'GTR': 'GOLDEN TRIANGLE LOWNDES CNTY, MS', 'GUL': 'GULFPORT, MS', 'PAS': 'PASCAGOULA, MS', 'JAN': 'THOMPSON FIELD - JACKSON, MS', 'BIL': 'BILLINGS, MT', 'BTM': 'BUTTE, MT', 'CHF': 'CHIEF MT, MT', 'CTB': 'CUT BANK MUNICIPAL, MT', 'CUT': 'CUT BANK, MT', 'DLB': 'DEL BONITA, MT', 'EUR': 'EUREKA, MT (BPS)', 'BZN': 'GALLATIN FIELD - BOZEMAN, MT', 'FCA': 'GLACIER NATIONAL PARK, MT', 'GGW': 'GLASGOW, MT', 'GRE': 'GREAT FALLS, MT', 'HVR': 'HAVRE, MT', 'HEL': 'HELENA, MT', 'LWT': 'LEWISTON, MT', 'MGM': 'MORGAN, MT', 'OPH': 'OPHEIM, MT', 'PIE': 'PIEGAN, MT', 'RAY': 'RAYMOND, MT', 'ROO': 'ROOSVILLE, MT', 'SCO': 'SCOBEY, MT', 'SWE': 'SWEETGTASS, MT', 'TRL': 'TRIAL CREEK, MT', 'TUR': 'TURNER, MT', 'WCM': 'WILLOW CREEK, MT', 'CLT': 'CHARLOTTE, NC', 'FAY': 'FAYETTEVILLE, NC', 'MRH': 'MOREHEAD CITY, NC', 'FOP': 'MORRIS FIELDS AAF, NC', 'GSO': 'PIEDMONT TRIAD INTL AIRPORT, NC', 'RDU': 'RALEIGH/DURHAM, NC', 'SSC': 'SHAW AFB - SUMTER, NC', 'WIL': 'WILMINGTON, NC', 'AMB': 'AMBROSE, ND', 'ANT': 'ANTLER, ND', 'CRY': 'CARBURY, ND', 'DNS': 'DUNSEITH, ND', 'FAR': 'FARGO, ND', 'FRT': 'FORTUNA, ND', 'GRF': 'GRAND FORKS, ND', 'HNN': 'HANNAH, ND', 'HNS': 'HANSBORO, ND', 'MAI': 'MAIDA, ND', 'MND': 'MINOT, ND', 'NEC': 'NECHE, ND', 'NOO': 'NOONAN, ND', 'NRG': 'NORTHGATE, ND', 'PEM': 'PEMBINA, ND', 'SAR': 'SARLES, ND', 'SHR': 'SHERWOOD, ND', 'SJO': 'ST JOHN, ND', 'WAL': 'WALHALLA, ND', 'WHO': 'WESTHOPE, ND', 'WND': 'WILLISTON, ND', 'OMA': 'OMAHA, NE', 'LEB': 'LEBANON, NH', 'MHT': 'MANCHESTER, NH', 'PNH': 'PITTSBURG, NH', 'PSM': 'PORTSMOUTH, NH', 'BYO': 'BAYONNE, NJ', 'CNJ': 'CAMDEN, NJ', 'HOB': 'HOBOKEN, NJ', 'JER': 'JERSEY CITY, NJ', 'WRI': 'MC GUIRE AFB - WRIGHTSOWN, NJ', 'MMU': 'MORRISTOWN, NJ', 'NEW': 'NEWARK/TETERBORO, NJ', 'PER': 'PERTH AMBOY, NJ', 'ACY': 'POMONA FIELD - ATLANTIC CITY, NJ', 'ALA': 'ALAMAGORDO, NM (BPS)', 'ABQ': 'ALBUQUERQUE, NM', 'ANP': 'ANTELOPE WELLS, NM', 'CRL': 'CARLSBAD, NM', 'COL': 'COLUMBUS, NM', 'CDD': 'CRANE LAKE - ST. LOUIS CNTY, NM', 'DNM': 'DEMING, NM (BPS)', 'LAS': 'LAS CRUCES, NM', 'LOB': 'LORDSBURG, NM (BPS)', 'RUI': 'RUIDOSO, NM', 'STR': 'SANTA TERESA, NM', 'RNO': 'CANNON INTL - RENO/TAHOE, NV', 'FLX': 'FALLON MUNICIPAL AIRPORT, NV', 'LVG': 'LAS VEGAS, NV', 'REN': 'RENO, NV', 'ALB': 'ALBANY, NY', 'AXB': 'ALEXANDRIA BAY, NY', 'BUF': 'BUFFALO, NY', 'CNH': 'CANNON CORNERS, NY', 'CAP': 'CAPE VINCENT, NY', 'CHM': 'CHAMPLAIN, NY', 'CHT': 'CHATEAUGAY, NY', 'CLA': 'CLAYTON, NY', 'FTC': 'FORT COVINGTON, NY', 'LAG': 'LA GUARDIA, NY', 'LEW': 'LEWISTON, NY', 'MAS': 'MASSENA, NY', 'MAG': 'MCGUIRE AFB, NY', 'MOO': 'MOORES, NY', 'MRR': 'MORRISTOWN, NY', 'NYC': 'NEW YORK, NY', 'NIA': 'NIAGARA FALLS, NY', 'OGD': 'OGDENSBURG, NY', 'OSW': 'OSWEGO, NY', 'ELM': 'REGIONAL ARPT - HORSEHEAD, NY', 'ROC': 'ROCHESTER, NY', 'ROU': 'ROUSES POINT, NY', 'SWF': 'STEWART - ORANGE CNTY, NY', 'SYR': 'SYRACUSE, NY', 'THO': 'THOUSAND ISLAND BRIDGE, NY', 'TRO': 'TROUT RIVER, NY', 'WAT': 'WATERTOWN, NY', 'HPN': 'WESTCHESTER - WHITE PLAINS, NY', 'WRB': 'WHIRLPOOL BRIDGE, NY', 'YOU': 'YOUNGSTOWN, NY', 'AKR': 'AKRON, OH', 'ATB': 'ASHTABULA, OH', 'CIN': 'CINCINNATI, OH', 'CLE': 'CLEVELAND, OH', 'CLM': 'COLUMBUS, OH', 'LOR': 'LORAIN, OH', 'MBO': 'MARBLE HEADS, OH', 'SDY': 'SANDUSKY, OH', 'TOL': 'TOLEDO, OH', 'OKC': 'OKLAHOMA CITY, OK', 'TUL': 'TULSA, OK', 'AST': 'ASTORIA, OR', 'COO': 'COOS BAY, OR', 'HIO': 'HILLSBORO, OR', 'MED': 'MEDFORD, OR', 'NPT': 'NEWPORT, OR', 'POO': 'PORTLAND, OR', 'PUT': 'PUT-IN-BAY, OH', 'RDM': 'ROBERTS FIELDS - REDMOND, OR', 'ERI': 'ERIE, PA', 'MDT': 'HARRISBURG, PA', 'HSB': 'HARRISONBURG, PA', 'PHI': 'PHILADELPHIA, PA', 'PIT': 'PITTSBURG, PA', 'AGU': 'AGUADILLA, PR', 'BQN': 'BORINQUEN - AGUADILLO, PR', 'JCP': 'CULEBRA - BENJAMIN RIVERA, PR', 'ENS': 'ENSENADA, PR', 'FAJ': 'FAJARDO, PR', 'HUM': 'HUMACAO, PR', 'JOB': 'JOBOS, PR', 'MAY': 'MAYAGUEZ, PR', 'PON': 'PONCE, PR', 'PSE': 'PONCE-MERCEDITA, PR', 'SAJ': 'SAN JUAN, PR', 'VQS': 'VIEQUES-ARPT, PR', 'PRO': 'PROVIDENCE, RI', 'PVD': 'THEODORE FRANCIS - WARWICK, RI', 'CHL': 'CHARLESTON, SC', 'CAE': 'COLUMBIA, SC #ARPT', 'GEO': 'GEORGETOWN, SC', 'GSP': 'GREENVILLE, SC', 'GRR': 'GREER, SC', 'MYR': 'MYRTLE BEACH, SC', 'SPF': 'BLACK HILLS, SPEARFISH, SD', 'HON': 'HOWES REGIONAL ARPT - HURON, SD', 'SAI': 'SAIPAN, SPN', 'TYS': 'MC GHEE TYSON - ALCOA, TN', 'MEM': 'MEMPHIS, TN', 'NSV': 'NASHVILLE, TN', 'TRI': 'TRI CITY ARPT, TN', 'ADS': 'ADDISON AIRPORT- ADDISON, TX', 'ADT': 'AMISTAD DAM, TX', 'ANZ': 'ANZALDUAS, TX', 'AUS': 'AUSTIN, TX', 'BEA': 'BEAUMONT, TX', 'BBP': 'BIG BEND PARK, TX (BPS)', 'SCC': 'BP SPEC COORD. CTR, TX', 'BTC': 'BP TACTICAL UNIT, TX', 'BOA': 'BRIDGE OF AMERICAS, TX', 'BRO': 'BROWNSVILLE, TX', 'CRP': 'CORPUS CHRISTI, TX', 'DAL': 'DALLAS, TX', 'DLR': 'DEL RIO, TX', 'DNA': 'DONNA, TX', 'EGP': 'EAGLE PASS, TX', 'ELP': 'EL PASO, TX', 'FAB': 'FABENS, TX', 'FAL': 'FALCON HEIGHTS, TX', 'FTH': 'FORT HANCOCK, TX', 'AFW': 'FORT WORTH ALLIANCE, TX', 'FPT': 'FREEPORT, TX', 'GAL': 'GALVESTON, TX', 'HLG': 'HARLINGEN, TX', 'HID': 'HIDALGO, TX', 'HOU': 'HOUSTON, TX', 'SGR': 'HULL FIELD, SUGAR LAND ARPT, TX', 'LLB': 'JUAREZ-LINCOLN BRIDGE, TX', 'LCB': 'LAREDO COLUMBIA BRIDGE, TX', 'LRN': 'LAREDO NORTH, TX', 'LAR': 'LAREDO, TX', 'LSE': 'LOS EBANOS, TX', 'IND': 'LOS INDIOS, TX', 'LOI': 'LOS INDIOS, TX', 'MRS': 'MARFA, TX (BPS)', 'MCA': 'MCALLEN, TX', 'MAF': 'ODESSA REGIONAL, TX', 'PDN': 'PASO DEL NORTE,TX', 'PBB': 'PEACE BRIDGE, NY', 'PHR': 'PHARR, TX', 'PAR': 'PORT ARTHUR, TX', 'ISB': 'PORT ISABEL, TX', 'POE': 'PORT OF EL PASO, TX', 'PRE': 'PRESIDIO, TX', 'PGR': 'PROGRESO, TX', 'RIO': 'RIO GRANDE CITY, TX', 'ROM': 'ROMA, TX', 'SNA': 'SAN ANTONIO, TX', 'SNN': 'SANDERSON, TX', 'VIB': 'VETERAN INTL BRIDGE, TX', 'YSL': 'YSLETA, TX', 'CHA': 'CHARLOTTE AMALIE, VI', 'CHR': 'CHRISTIANSTED, VI', 'CRU': 'CRUZ BAY, ST JOHN, VI', 'FRK': 'FREDERIKSTED, VI', 'STT': 'ST THOMAS, VI', 'LGU': 'CACHE AIRPORT - LOGAN, UT', 'SLC': 'SALT LAKE CITY, UT', 'CHO': 'ALBEMARLE CHARLOTTESVILLE, VA', 'DAA': 'DAVISON AAF - FAIRFAX CNTY, VA', 'HOP': 'HOPEWELL, VA', 'HEF': 'MANASSAS, VA #ARPT', 'NWN': 'NEWPORT, VA', 'NOR': 'NORFOLK, VA', 'RCM': 'RICHMOND, VA', 'ABS': 'ALBURG SPRINGS, VT', 'ABG': 'ALBURG, VT', 'BEB': 'BEEBE PLAIN, VT', 'BEE': 'BEECHER FALLS, VT', 'BRG': 'BURLINGTON, VT', 'CNA': 'CANAAN, VT', 'DER': 'DERBY LINE, VT (I-91)', 'DLV': 'DERBY LINE, VT (RT. 5)', 'ERC': 'EAST RICHFORD, VT', 'HIG': 'HIGHGATE SPRINGS, VT', 'MOR': 'MORSES LINE, VT', 'NPV': 'NEWPORT, VT', 'NRT': 'NORTH TROY, VT', 'NRN': 'NORTON, VT', 'PIV': 'PINNACLE ROAD, VT', 'RIF': 'RICHFORT, VT', 'STA': 'ST ALBANS, VT', 'SWB': 'SWANTON, VT (BP - SECTOR HQ)', 'WBE': 'WEST BERKSHIRE, VT', 'ABE': 'ABERDEEN, WA', 'ANA': 'ANACORTES, WA', 'BEL': 'BELLINGHAM, WA', 'BLI': 'BELLINGHAM, WASHINGTON #INTL', 'BLA': 'BLAINE, WA', 'BWA': 'BOUNDARY, WA', 'CUR': 'CURLEW, WA (BPS)', 'DVL': 'DANVILLE, WA', 'EVE': 'EVERETT, WA', 'FER': 'FERRY, WA', 'FRI': 'FRIDAY HARBOR, WA', 'FWA': 'FRONTIER, WA', 'KLM': 'KALAMA, WA', 'LAU': 'LAURIER, WA', 'LON': 'LONGVIEW, WA', 'MET': 'METALINE FALLS, WA', 'MWH': 'MOSES LAKE GRANT COUNTY ARPT, WA', 'NEA': 'NEAH BAY, WA', 'NIG': 'NIGHTHAWK, WA', 'OLY': 'OLYMPIA, WA', 'ORO': 'OROVILLE, WA', 'PWB': 'PASCO, WA', 'PIR': 'POINT ROBERTS, WA', 'PNG': 'PORT ANGELES, WA', 'PTO': 'PORT TOWNSEND, WA', 'SEA': 'SEATTLE, WA', 'SPO': 'SPOKANE, WA', 'SUM': 'SUMAS, WA', 'TAC': 'TACOMA, WA', 'PSC': 'TRI-CITIES - PASCO, WA', 'VAN': 'VANCOUVER, WA', 'AGM': 'ALGOMA, WI', 'BAY': 'BAYFIELD, WI', 'GRB': 'GREEN BAY, WI', 'MNW': 'MANITOWOC, WI', 'MIL': 'MILWAUKEE, WI', 'MSN': 'TRUAX FIELD - DANE COUNTY, WI', 'CHS': 'CHARLESTON, WV', 'CLK': 'CLARKSBURG, WV', 'BLF': 'MERCER COUNTY, WV', 'CSP': 'CASPER, WY', 'CLG': 'CALGARY, CANADA', 'EDA': 'EDMONTON, CANADA', 'YHC': 'HAKAI PASS, CANADA', 'HAL': 'HALIFAX, NS, CANADA', 'MON': 'MONTREAL, CANADA', 'OTT': 'OTTAWA, CANADA', 'YXE': 'SASKATOON, CANADA', 'TOR': 'TORONTO, CANADA', 'VCV': 'VANCOUVER, CANADA', 'VIC': 'VICTORIA, CANADA', 'WIN': 'WINNIPEG, CANADA', 'AMS': 'AMSTERDAM-SCHIPHOL, NETHERLANDS', 'ARB': 'ARUBA, NETH ANTILLES', 'BAN': 'BANKOK, THAILAND', 'BEI': 'BEICA #ARPT, ETHIOPIA', 'PEK': 'BEIJING CAPITAL INTL, PRC', 'BDA': 'KINDLEY FIELD, BERMUDA', 'BOG': 'BOGOTA, EL DORADO #ARPT, COLOMBIA', 'EZE': 'BUENOS AIRES, MINISTRO PIST, ARGENTINA', 'CUN': 'CANCUN, MEXICO', 'CRQ': 'CARAVELAS, BA #ARPT, BRAZIL', 'MVD': 'CARRASCO, URUGUAY', 'DUB': 'DUBLIN, IRELAND', 'FOU': 'FOUGAMOU #ARPT, GABON', 'FBA': 'FREEPORT, BAHAMAS', 'MTY': 'GEN M. ESCOBEDO, MONTERREY, MX', 'HMO': 'GEN PESQUEIRA GARCIA, MX', 'GCM': 'GRAND CAYMAN, CAYMAN ISLAND', 'GDL': 'GUADALAJARA, MIGUEL HIDAL, MX', 'HAM': 'HAMILTON, BERMUDA', 'ICN': 'INCHON, SEOUL KOREA', 'IWA': 'INVALID - IWAKUNI, JAPAN', 'CND': 'KOGALNICEANU, ROMANIA', 'LAH': 'LABUHA ARPT, INDONESIA', 'DUR': 'LOUIS BOTHA, SOUTH AFRICA', 'MAL': 'MANGOLE ARPT, INDONESIA', 'MDE': 'MEDELLIN, COLOMBIA', 'MEX': 'JUAREZ INTL, MEXICO CITY, MX', 'LHR': 'MIDDLESEX, ENGLAND', 'NBO': 'NAIROBI, KENYA', 'NAS': 'NASSAU, BAHAMAS', 'NCA': 'NORTH CAICOS, TURK & CAIMAN', 'PTY': 'OMAR TORRIJOS, PANAMA', 'SPV': 'PAPUA, NEW GUINEA', 'UIO': 'QUITO (MARISCAL SUCR), ECUADOR', 'RIT': 'ROME, ITALY', 'SNO': 'SAKON NAKHON #ARPT, THAILAND', 'SLP': 'SAN LUIS POTOSI #ARPT, MEXICO', 'SAN': 'SAN SALVADOR, EL SALVADOR', 'SRO': 'SANTANA RAMOS #ARPT, COLOMBIA', 'GRU': 'GUARULHOS INTL, SAO PAULO, BRAZIL', 'SHA': 'SHANNON, IRELAND', 'HIL': 'SHILLAVO, ETHIOPIA', 'TOK': 'TOROKINA #ARPT, PAPUA, NEW GUINEA', 'VER': 'VERACRUZ, MEXICO', 'LGW': 'WEST SUSSEX, ENGLAND', 'ZZZ': 'MEXICO LAND (BANCO DE MEXICO)', 'CHN': 'NO PORT CODE (CHN)', 'CNC': 'CANNON CORNERS, NY', 'MAA': 'ABU DHABI', 'AG0': 'MAGNOLIA, AR', 'BHM': 'BAR HARBOR, ME', 'BHX': 'BIRMINGHAM, AL', 'CAK': 'AKRON, OH', 'FOK': 'SUFFOLK COUNTY, NY', 'LND': 'LANDER, WY', 'MAR': 'MARFA, TX', 'MLI': 'MOLINE, IL', 'RIV': 'RIVERSIDE, CA', 'RME': 'ROME, NY', 'VNY': 'VAN NUYS, CA', 'YUM': 'YUMA, AZ'}

In [303]:
print(list(meta_i94['I94CIT'].keys()) )

[582, 236, 101, 316, 102, 324, 529, 518, 687, 151, 532, 438, 103, 152, 512, 298, 274, 513, 104, 581, 386, 509, 153, 242, 688, 717, 164, 336, 689, 525, 217, 105, 393, 243, 375, 310, 326, 526, 383, 384, 690, 245, 721, 270, 271, 691, 317, 385, 467, 575, 165, 584, 218, 140, 723, 108, 322, 519, 585, 240, 692, 368, 576, 399, 372, 109, 369, 604, 413, 110, 111, 601, 411, 387, 338, 758, 154, 112, 339, 143, 113, 520, 507, 577, 382, 327, 603, 586, 726, 149, 528, 206, 114, 115, 213, 759, 729, 204, 249, 250, 116, 251, 117, 388, 514, 209, 253, 201, 155, 340, 414, 732, 272, 156, 203, 118, 255, 335, 370, 381, 119, 120, 121, 214, 167, 320, 345, 273, 220, 392, 145, 472, 511, 389, 342, 760, 473, 157, 122, 299, 735, 521, 332, 329, 371, 440, 257, 123, 508, 409, 464, 579, 390, 343, 470, 275, 124, 256, 258, 474, 743, 504, 441, 693, 694, 260, 416, 107, 126, 297, 748, 321, 127, 158, 376, 128, 330, 261, 391, 142, 745, 347, 348, 207, 141, 166, 412, 397, 373, 276, 129, 244, 346, 522, 523, 502, 524, 716, 736, 749, 350, 602, 351, 130, 131, 262, 268, 159, 353, 263, 304, 417, 516, 323, 264, 161, 527, 420, 352, 162, 296, 135, 695, 163, 410, 696, 266, 469, 757, 333, 465, 216, 139, 301, 344, 315]

In [ ]:
## fix SAS before save to parquet